[2014-11-04 09:23] stefanmeisner opened #3 "rabbitmq plugin deletes queue on exit"
Logstash 1.4.2
input definition:
input {
rabbitmq {
type => "eti"
queue => "fw.logging.logstash.queue"
host => "localhost"
exchange => "LogExchange"
passive => "true"
codec => "json"
}
}

When I press ctrl-c to terminate logstash, it deletes the queue fw.logging.logstash.queue,
which I think is a bug.

Setting durable => true is a workaround. A quote from RabbitMQ's javadoc:

[code]

See further d

[2014-11-04 10:42] jsvd opened #5 "Allow explicit deletion of a queue when logstash exits"
A boolean option called "teardown" that allows the plugin to delete the queue during logstash's exit process.

Need described in #3

[2014-11-12 11:49] #3 closed, assigned to jsvd

[2014-12-22 08:51] magnusbaeck opened #7 "RabbitMQ input plugin should allow saving message attributes in fields"
The RabbitMQ input plugin doesn’t provide any means for accessing the [attributes of a message](https://www.rabbitmq.com/tutorials/amqp-concepts.html#messages). Attributes can contain interesting metadata that one would like to save into the Logstash message, including a timestamp that in many cases should be saved into Logstash’s `@timestamp` field, the message's routing key, or the payload's con

[2015-01-07 15:31] asmaps opened #8 "RabbitMQ input plugin failures leave open sockets"
Although the issue in the JIRA tracker is quite old and the link in it doesn't even work anymore the problem seems to persist. I also get the error messages named in the ticket and I have tons of unclosed connections from the logstash server in my RabbitMQ which causes it to crash once a day...

https://logstash.jira.com/browse/LOGSTASH-1698

I hope that the issue gets a little attention if it is

[2015-01-07 16:04] michaelklishin commented on #8
The error you are linking to is a channel-level error. It should not result in a connection closure. See my reply in the JIRA issue, we can make the input re-connect but it may end up happening in a loop. So please investigate the root cause (why the exchange you want Logstash to use does not exist).

[2015-01-07 16:04] michaelklishin commented on #8
Also, the log message is wrong and misleading. This is NOT a connection error.

[2015-01-23 17:48] untergeek opened #9 "Feature request: Heartbeat for RabbitMQ"
I've noticed that our ELB is killing the Logstash connections when there's nothing moving in any direction. I've also found a guy with the same issue on HAproxy (https://groups.google.com/forum/#!topic/logstash-users/odP7k8dhinI).

Logstash reconnects after a few seconds, and it seems to work when there's a ton of logs to parse, but it should have a customizable heartbeat instead, so I can set it

[2015-01-23 19:58] untergeek opened #13 "Cleanup rabbitmq input plugin"
(Migrated from https://github.com/elasticsearch/logstash/issues/1610)

PR #1607 had me review the plugin to discover some unused code at https://github.com/elasticsearch/logstash/blob/master/lib/logstash/outputs/rabbitmq/bunny.rb#L103-L108 and https://github.com/elasticsearch/logstash/blob/master/lib/logstash/outputs/rabbitmq/march_hare.rb#L103-L108

- I don't really like the coding style of the r

[2015-02-02 14:31] timblackwell opened #16 "Unable to connect using TLS1.1 or TLS1.2"
The rabbitmq plugin can't negotiate a ssl connection using a secure TLS protocol version (1.1 or 1.2).
The logstash client (version 1.4.2 running on Yosemite 10.10.2) displays the `error RabbitMQ connection error: Received fatal alert: protocol_version. Will reconnect in 10 seconds... {:level=>:error}`
The logs from the RabbitMQ server (version 3.4.3, Erlang 17.4) show that the client was trying t

[2015-02-02 14:33] michaelklishin commented on #16
It can but JDK 6 only supports TLS 1.0. Are we ready to require JDK 7?

This would also require a couple of improvements in March Hare to make this easier (than messing with an `SSLContext`) to configure.

[2015-02-02 17:04] jordansissel commented on #16
@michaelklishin as it turns out, Logstash is only supported on Java 7 and Java 8. I don't know if this is documented explicitly in the Logstash docs. Java 7 is nearly EOL (April 2015). Java 6 was EOL'd 2.5 years ago (November 2012, I think?).

[2015-02-02 17:27] jordansissel commented on #16
Also, regarding TLS 1.2. JRuby doesn't support this at this time, so I think the highest you get is TLS 1.1.

[2015-02-03 01:37] michaelklishin commented on #16
@jordansissel it's not unreasonable to drop JDK 6 support. I'll work on getting the version options into March Hare.

[2015-02-06 23:28] suyograo opened #17 ""java.lang.OutOfMemoryError: Java heap space" when using rabbitmq input (march_hare variant) with ack => false"
From https://logstash.jira.com/browse/LOGSTASH-2278

[2015-02-25 07:48] flaiming opened #18 "Rabbit credentials from file"
We have single configuration file for each environment (dev, test, production) and that raises an issue with setting different rabbit credentials (username, password) for each environment.
Could be possible to add new parameter to this input plugin "AuthFile", which would contain path to file with rabbit credentials? It should look like just like at logstash collectd input plugin http://logstash.n

[2015-02-25 10:47] michaelklishin commented on #18
@flaiming your idea makes sense to me. Feel free to look into this and submit a pull request. This shouldn't be too difficult to implement.

I'd recommend using a YAML or JSON file. This can go beyond storing the credentials (that's why using the same option structure as Bunny/March Hare do seems like a good idea to me).

[2015-03-01 01:18] fsarwari opened #19 "rabbitmq headers"
Is it possible to read headers from the rabbitmq input plugin?

There's an old jira ticket it mentions such a feature. And from the ticket it looks like it should work. But I can't find anything in the docs to show how to extract headers from rabbitmq.

https://logstash.jira.com/browse/LOGSTASH-926

In the docs for an older version of logstash it has a headers_field as a config option. This option

[2015-03-01 09:23] michaelklishin commented on #19
Delivery info and properties are excluded from event decoding: https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq/bunny.rb#L108-112.

Not sure if Logstash core allows events to have metadata these days.

[2015-03-05 21:16] fsarwari commented on #19
michaelklishin, thanks for the explanation.  The metadata wouldn't really have to pass to logstash core.  It could be copied to a field within in the input plugin and that way it could get passed to the filter. (not sure if add_field works that way).
But according to the source mentioned above (bunny.rb) it looks like everything except for data is discarded.  Probably for performance reasons.

tha

[2015-03-05 21:22] michaelklishin commented on #19
@fsarwari not for performance reasons. Nobody thought it would be particularly useful when the plugin was re-written about a year ago. We can add it. The question is, is there required infrastructure for this change in the plugin system these days, and how many people want this.

[2015-03-11 15:23] timblackwell commented on #16
@michaelklishin How long do you think this update will take?

[2015-03-17 23:23] magnusbaeck commented on #19
This is a duplicate of #7 which I'm working on addressing since I'm very interested in getting the routing key and timestamp from the consumed messages. I'll close that issue in favor of this one.

[2015-03-17 23:23] magnusbaeck commented on #7
Duplicate of #19, closing.

[2015-03-17 23:23] #7 closed

[2015-03-17 23:48] electrical commented on #19
@michaelklishin nowadays ( LS 1.5 ) we have a @metadata object that can contain information but won't be indexed.
Perhaps that can used. See https://github.com/elastic/logstash/pull/1836 for some details.

[2015-03-23 17:40] SaucyWrong commented on #8
I see this issue too when using this plugin on JRuby (this would be the march_hare implementation, I think).

The fact that the code treats this channel error as a connection issue when it isn't one is the heart of the issue.  The problem is that when the code retries it leaves the existing connection intact and creates a new one.  If subsequent queue binding operations fail these connections begi

[2015-04-07 17:52] dellis23 opened #20 "Documentation doesn't show requirement of having all arguments of queue explicitly specified in config"
On attempting to pull from a queue that has been already defined, the plugin will fail if there are additional settings on the queue, such as `x-max-length`.  Is this a standard rabbit-ism?  It seems like the consumer should be completely agnostic to server-side settings like queue length.

[2015-04-07 17:53] dellis23 commented on #20
The failure condition logs something like this:

```{:timestamp=>"2015-04-07T10:20:32.874000-0700", :message=>"RabbitMQ connection error: PRECONDITION_FAILED - inequivalent arg 'x-max-length'for queue 'myqueue' in vhost 'myvhost': received none but current is the value '400000' of type 'long'. Will reconnect in 10 seconds...", :level=>:error}```

[2015-04-07 18:15] michaelklishin commented on #20
When re-declaring an existing queue, you must specify the same arguments or use `passive: true` (which would do nothing if the queue exists).

[2015-04-07 18:17] michaelklishin commented on #20
Logstash consumer cannot assume the queue was declared. So it tries to declare it. It can be made smarter (check if it exists first) but then you'd have another problem: you specify some arguments but they are "not applied".

[2015-04-07 18:18] dellis23 commented on #20
I see.  The `passive: true` option makes sense and should have been what I tried.

[2015-04-07 18:18] #20 closed

[2015-04-08 04:31] luckyhughes opened #21 "Fails with error if input is array of json data at top level"
Hi,

I was using this plugin to build scalable log management system. I am facing a issue if data received by this plugin from rabbitmq is array of josn at top level as described. please help me how can i fix this issue. Any help in this regard would be appreciated.

json format -
[
{"name":"java.lang:type=OperatingSystem-TotalSwapSpaceSize","value":2147483648},{"name":"java.lang:type=OperatingSys

[2015-04-10 16:26] untergeek commented on #21
Is that supposed to be 3 separate events?  I don't think this will work within the Logstash event framework at the top level.  I think your options include:

* Create a `json_array` codec based on the [json_lines](https:github.com/logstash-plugins/logstash-codec-json_lines) or [json](https:github.com/logstash-plugins/logstash-codec-json) codecs.  This codec would expect an array of json lines, and

[2015-05-12 16:18] iemem15 opened #23 "Multiple connections"
When there is a disconnect in the rabbitmq it creates tons of connections, every 10 secondes
In the file logstash-input-rabbitmq-0.1.4-java/lib/logstash/inputs/rabbitmq/march_hare.rb
it has :automatic_recovery => false

I read that this fixed that.
The version of logstash 1.5.0.rc3
Thanks in advanced

[2015-05-17 23:25] jordansissel opened #24 "RabbitMQ message properties cannot be read"
(This issue was originally filed by @Fresa at https://github.com/elastic/logstash/issues/2069)

---

There does not seem to be a way to include the message properties from a RabbitMQ message into logstash? Headers, message id and correlation id for example.

[2015-05-17 23:32] jordansissel opened #25 "Improve RabbitMQ input and output plugin docs"
(This issue was originally filed by @deepybee at https://github.com/elastic/logstash/issues/2133)

---

Just a minor improvement, but when setting up an output to a RabbitMQ broker yesterday I ran into an issue which was not immediately obvious given the socket connection errors returned by March Hare.

The issue was that in my config I had specified a vhost including the leading forward slash "/"

[2015-05-17 23:55] jordansissel opened #26 "RabbitMQ input/output default codec"
(This issue was originally filed by @pierrre at https://github.com/elastic/logstash/issues/2206)

---

In your documentation, the default codec is `plain`, but in your code it's `json`.

[2015-05-17 23:55] jordansissel opened #27 "support ssl client certificate"
(This issue was originally filed by @runningman84 at https://github.com/elastic/logstash/issues/2394)

---

I would like to auth with RabbitMQ using a ssl client key. This is the same concept as sensu is doing:
http://sensuapp.org/docs/0.16/certificates

[2015-05-18 05:36] jordansissel opened #28 "inputs rabbitmq plugin"
(This issue was originally filed by @plejik at https://github.com/elastic/logstash/issues/2895)

---

I create config for logstash rabbitmq plugin
        rabbitmq {
                host => "10.12.42.171"
                queue => "logstash-queue"
                passive => true
                durable => true
                user => "logstash"
                password => "logstash"

[2015-05-18 13:32] michaelklishin commented on #28
It should and [it does](https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq/march_hare.rb#L94-99). Please post more details, in particular the error message you're seeing and what's in RabbitMQ log file.

[2015-06-11 14:30] michaelklishin opened #29 "Multiple consumers to support rabbitmq-sharding"
[rabbitmq-sharding](https://github.com/rabbitmq/rabbitmq-sharding) is an opinionated plugin which uses multiple "physical" queues behind one logical queue, taking advantage of more CPU cores.

This sounds like a great fit for the Logstash use case. However, to support it, the input needs to use multiple consumers.

This can be an option or an alternative input. Would there be any interest in this?

[2015-06-29 14:23] BDeus commented on #24
I'm not a ruby expert but it seems that the march_hare plugin used by logstash-input-rabbitmq can't retrieve message properties to consumers (like original routing key).

[2015-06-29 14:27] michaelklishin commented on #24
Yes, [it can](https://github.com/ruby-amqp/march_hare/blob/master/spec/higher_level_api/integration/message_metadata_access_spec.rb#L12). Small nit pick: routing key is not a message property, it's a part of the delivery metadata.

[2015-07-15 10:58] Semyazz commented on #19
what should be in that **metadata** object? I passed some **properties** to the queue, but I see no way to retrieve them in Logstash. I can't find both: headers and properties in metadata field. It's just empty. I'm particularly interested in **user_id** property. I can send data to RMQ with property user-id which will be validated against client's certificate CommonName so nobody can spoof the me

[2015-07-15 11:05] magnusbaeck commented on #19
Yes, that's exactly the kind of scenario that solving this issue will address (do note that the issue is still open). I'm done with the implementation but got stalled when I reached the unit tests. I might have time to revisit this in the upcoming couple of weeks.

[2015-07-17 08:17] baoyonglei opened #31 "logstash couldn't show the content of the rabbit message"
I create config for logstash rabbitmq plugin
 rabbitmq {
         host => "xx.xx.xx.xxx"
         user => "rabbit"
         password => "xxxxxxxxxxxxxx"
         exchange => "nova"
         key => "#"
         queue => "logstash-queue"
         durable => true
    }

then start logstash, it does work and can collect rabbitmq message.  but can't show the content, just show like this (I use stdout o

[2015-08-14 05:30] Ruben-E commented on #19
Any updates about this?

[2015-08-14 05:44] magnusbaeck commented on #19
I haven't been able to prioritize the completion of this. The fact that the Logstash team doesn't seem to be reviewing and merging even trivial typo-correction pull requests isn't really motivating me to complete the rspec work. I can upload what I've got so far though.

[2015-08-17 10:11] purbon opened #34 "No tests / Tests missing"
Hi,
  this plugin has no test at all, this is a situation that should be amended soon, so for example changes in both the plugin or the logstash core himself, are properly tested in the CI environment.

If you are giving this plugin some test, feel free to update https://github.com/elastic/logstash/issues/3740 so we keep track of it.

[2015-08-24 14:32] parabolic opened #36 "Input fails silently, but works when logstash runs as root"
HI I just had an issue with logstash, I was applying updates to elasticsearch logstash suddenly stopped consuming messages from rabbitmq as input but everything was fine. I restarted it cpu spiked , logstash started consuming and it suddenly stopped, it's runinng but not doing nothing, and the queue is pilling up messages. If I run logstash as root like so:
[code]
everything is fine and it starts

[2015-08-24 14:43] parabolic commented on #36
Hi and sorry, it seems that I was hitting limits with the logstash user, so basically I answered my question now I've set this in */etc/security/limits.conf* if it works I'll close this ticket:
[code]

[2015-08-24 15:16] parabolic commented on #36
Ok , it seems to be the limits :dart:
I am closing this issue.

[2015-08-24 15:16] #36 closed

[2015-08-25 21:38] andrewvc commented on #23
@iemem15 I'm working on fixing this as we speak :)

[2015-08-25 21:38] andrewvc commented on #8
I'm working on fixing this as we speak. It's already been fixed on the output and we're moving them to a common codebase.

[2015-09-04 13:38] jsvd commented on #16
we now recommend/run java 7 or 8, I think we can close this

[2015-09-04 13:38] #16 closed

[2015-09-11 12:40] jsvd opened #38 "refactor shutdown sequence to use plugin.stop"
Change shutdown sequence to be triggered by plugin.stop instead of ShutdownSignal exception.
Also remove any calls to: shutdown, finished, finished?, running? or terminating?
This depends on https://github.com/elastic/logstash/pull/3895

[2015-09-13 19:39] jingzhaoou commented on #19
In my project, I am pulling RabbitMQ messages into Elasticsearch using this plugin. Routing keys are required so that I know where the messages come from. I am willing to contribute to this if someone can help me get stared.

[2015-09-17 01:14] cian commented on #19
@jingzhaoou If you could test my patch and see if it gives you want you need I would be grateful to hear your feedback [@metadata][routingKey] should contain what you need.

[2015-09-18 20:52] andrewvc commented on #38
Fixed and merged in #40

[2015-09-18 20:52] #38 closed

[2015-09-18 20:54] suyograo commented on #34
Fixed in 6bf115a72f907b971d7e5a821abbb206516f67b9

[2015-09-18 20:54] #34 closed

[2015-09-20 03:12] micahasmith opened #41 "How To Set Heartbeat?"
I would like to be able to set [heartbeat](https://www.rabbitmq.com/heartbeats.html).

[the config for hare is here, i think](https://github.com/ruby-amqp/march_hare/blob/master/lib/march_hare/session.rb#L66)

Possible with the latest version?

[2015-09-20 07:02] markwalkom commented on #41
Per [the docs](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-rabbitmq.html), we don't currently have that exposed.

[2015-09-20 07:18] michaelklishin commented on #41
@markwalkom it would be great to have that configurable for the plugin.

[2015-09-20 16:16] micahasmith commented on #41
for real. totally keeps me from being able to keep the service up in production.

until then:

[code]

[2015-09-21 21:16] andrewvc commented on #41
@micahasmith I'm planning on adding this in the next few weeks. If you'd like to get to it sooner we'd be glad to accept a patch! If anyone would like to submit a PR to the rabbitmq_connection mixin (where shared logic for the input and output goes), I've opened up an issue here: https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/blob/master/lib/logstash/plugin_mixins/rabbitmq_

[2015-09-21 22:22] michaelklishin commented on #41
@micahasmith you can also configure default heartbeat in the server, or disable them entirely by setting the value to `0`.

[2015-09-24 15:10] micahasmith commented on #41
@michaelklishin you have no idea the kind of headaches this solves for me

made my /etc/rabbitmq/rabbitmq.config file:

[code]

[2015-10-03 19:05] michaelklishin opened #42 "Upgrade to March Hare 2.16.0"
[Release notes](http://blog.rubyrabbitmq.info/blog/2015/10/03/march-hare-2-dot-13-dot-0-is-released/).

[2015-10-07 14:08] Alykoff commented on #17
I have this problem.

[2015-10-13 05:40] markwalkom opened #43 "Align "threads" with other plugins"
What is referred to as a `worker` in this plugin is a `thread` in others, it'd be good if we aligned this with the majority.

https://www.elastic.co/guide/en/logstash/current/plugins-inputs-rabbitmq.html#plugins-inputs-rabbitmq-threads

eg in the associated output plugin - https://www.elastic.co/guide/en/logstash/current/plugins-outputs-rabbitmq.html#plugins-outputs-rabbitmq-workers

[2015-10-15 23:52] suyograo commented on #42
@michaelklishin thanks.. any idea if this memory leak: https://github.com/elastic/logstash/issues/3992 has been fixed by 2.13.0? Also see #17

[2015-10-16 00:18] michaelklishin commented on #42
@suyograo I don't see any evidence that the issue you've linked to has anything to do with March Hare. Heap breakdown suggests most memory is taken by threads managed by Logstash's input, not March Hare or RabbitMQ Java client.

[2015-10-16 00:23] michaelklishin commented on #42
@suyograo I've left a comment in the issue. The plugin probably doesn't acknowledge messages correctly (or at all) when [manual delivery acknowledgements](http://rubymarchhare.info/articles/queues.html) are used.

[2015-10-16 00:27] suyograo commented on #42
thanks much @michaelklishin

[2015-10-16 09:29] quejinho1988 opened #44 "Logstash crash + rabbitmq input ( queue )"
When my rabbitmq does have for example 5k of messages in queue
and i run my logstash 1.5.4 and do kill -9 as soon as messages start comming i lose about 1k of messages. No errors what so ever in logs.

[2015-10-16 09:49] michaelklishin commented on #44
@quejinho1988 you need to enable manual message acknowledgements so that "in flight" messages (consumed but not stored in ES) are re-queued.

[2015-10-21 15:52] andrewvc commented on #41
This has been merged into the common connection logic. Heartbeat + connection_timeout will be configurable in the the next logstash 2.0 beta release, or by using the 2.0 beta and bumping the version of `logstash-mixin-rabbitmq_connection`.

Thanks so much for reporting this @micahasmith , and thanks @michaelklishin for the workaround!

[2015-10-21 15:52] #41 closed

[2015-11-04 17:13] andrewvc commented on #9
This has been supported for quite a while now!

[2015-11-04 17:13] #9 closed

[2015-11-04 20:37] ThomasdOtreppe opened #48 "Logstash 2.0.0 crashes if exchange doesn't exist"
I have logstash pull data from a bunch of RabbitMQ. If for whatever reason, on one of the RabbitMQ, the exchange doesn't exist, logstash crashes with the following vague message (in my case, I called the exchange 'logstash'):

[code]

If it's any useful, here is the config:
[code]

Logstash shouldn't crash due to that issue. It should keep trying (like when it fails to connect to it).

I don't rem

[2015-11-04 20:41] ThomasdOtreppe opened #49 "Improve error message when exchange does not exist"
When an exchange doesn't exist, logstash crashes (#48) and it gives a pretty vague error message (in my case the exchange was called 'logstash'):

[code]

It's kinda easy to figure out when you have one RabbitMQ but if you have no idea, the message is pretty useless. The following information needs to be added for clarity:
- It should say it's RabbitMQ.
- It should tell which host (and port).

[2015-11-04 20:44] andrewvc commented on #48
Thanks for reporting this @ThomasdOtreppe ! I'll take a look sometime this week

[2015-11-09 07:09] adfel70 opened #50 "prefetch_count doesnt seem to have any effect"
It seems that prefetch_count never being set, even not the default value of 256 - our consumers connect to Rabbit with prefetch=0 since the upgrade to 3.0.3.

[2015-11-10 15:28] cFire commented on #50
+1 I also just noticed this behavior after upgrading LS from 1.5 to 2.0 branch.

[2015-11-11 10:25] aseppala opened #51 "Consumer cancel notification is not handled"
When RabbitMQ server sends a consumer cancel notification (https://www.rabbitmq.com/consumer-cancel.html) the plugin stops consuming the queue, but leaves connections and channels open. This results process going in a limbo state where logstash is up and running, but rabbitmq input plugin does not consume from the queue.

I'm not sure what would be the correct way to recover from this situation, I

[2015-11-12 11:49] aseppala commented on #51
I was able to fix this by defining a callback for on_cancellation and call stop from there:

[code]

While this fix is very straight forward, it doesn't give any hints to the user why we exit the process. Any comments?

[2015-11-12 16:05] michaelklishin commented on #51
`basic.cancel` coming from the server does include a reason but your proc ignores the argument.

[2015-11-12 20:01] aseppala commented on #51
Yes, you can get channel, self and consumer tag to the callback if wanted (https://github.com/ruby-amqp/march_hare/blob/master/lib/march_hare/consumers/base.rb#L34). However I'm not sure if there are any meaningful values to log.

How about logging something like

[code]

Then the logstash output would look something like this with *--verbose*:
[code]
Also, should I make a pull request with a prop

[2015-11-12 21:18] michaelklishin commented on #51
@aseppala yeah, I thought of `connection.close` for a second, which can also be server-sent :) your suggestion makes sense, logging is a good idea. However, I'm not sure if shutting down is the only reasonable strategy. Clients can re-declare their queue(s) and start consuming again.

[2015-11-13 07:05] aseppala commented on #51
It could be reasonable. Then if the node(s) that should host the queue (by HA policy or statically configured) are still parted from the cluster, we will get an error:

[code]

And that will result also in shutting down.

[2015-11-13 10:53] michaelklishin commented on #51
If a queue is mirrored, a new master will be elected (and consumers will be re-registered for you, in fact), so normally the above is only the case with non-mirrored durable queues. Non-durable queues will also be migrated.

[2015-11-13 10:54] michaelklishin commented on #51
@andrewvc the above suggestion makes sense to me. Would you folks consider it?

[2015-11-13 15:06] andrewvc commented on #51
@aseppala @michaelklishin thanks so much for the enlightening discussion above :).

I'd gladly accept a patch that stopped the plugin in that scenario.

It sounds like there are a range of acceptable behaviors on `cancel`.

1. Log a warning and stop the plugin
2. Attempt to restart the consuming (maybe we could have a `restart_on_cancelled_after` option?
3. Log a warning and do nothing

It sounds

[2015-11-16 19:32] aseppala commented on #51
Yes, 1. would be the easiest to implement and solves the issue for people who use some sort of supervisor to keep their logstashes alive.

However 2. would probably be better solution in the long term, but my knowledge on ruby is very limited and wouldn't like to spend too much time on this.

I can start crafting a pr for 1. fix and start the CLA process as well.

[2015-11-20 20:12] tparker00 commented on #50
It looks like this is related to logstash-mixin-rabbitmq_connection, reverting to 6edc495 resolved it for me.

[2015-11-20 23:05] nazim9214 opened #52 "Logstash not sending Acknowledge, after connection problems"
When between logstash and rabbitmq server occurs connection problem, logstash not send Acknowledge to rabbitmq server.But I see corresponding connection on the rabbitmq connections list, and server tries send messages to client. Manually closing this connection from server side does not resolves issue.

[2015-11-21 12:24] michaelklishin commented on #52
@nazim9214 the client reconnects. By acknowledgement do you mean consumer or publisher ones? You can inspect if manual acknowledgements are used by consumers e.g. in the management UI.

[2015-11-22 20:43] #52 closed

[2015-11-22 20:44] nazim9214 commented on #52
I'm sorry, it seems this is more due to the heartbeat option

[2015-12-11 15:19] oksuz opened #56 "RabbitMQ input duplicating messages"
Hi I tested rabbitmq input before install to production and I've seen a problem. I publish message on rabbitmq management console to queue, and logstash repeating message 3 times.

Here is my config:

[code]

output:
![screenshot-4](https://cloud.githubusercontent.com/assets/1628550/11747159/508d4972-a02a-11e5-804e-f8af3065fdd8.png)

Is it a bug ? How can I resolve ?

logstash version: 2.1
rabbitm

[2015-12-14 07:51] oksuz commented on #56
Hi again, I resolved this problem installing 3.1.1 version of plugin with following commands;

[code]

It seems 3.1.2 bug. Btw I found 3.1.1 version on rubygems. I didn't see in tags. Maybe you forget tagging this verison.
https://rubygems.org/gems/logstash-input-rabbitmq/versions/3.1.1

[2015-12-16 15:10] asbjornu commented on #19
I'd love to have this available as well. Especially exchange, queue name and routing key would be useful, but everything we can get out of RabbitMQ should be made available in `@metadata`, imho.

[2015-12-18 08:17] aseppala commented on #51
CLA has been signed and I started to work on this again. However, I'm having trouble setting up a working dev env and to run tests. I'm stuck with this error, any ideas?

[code]

[2015-12-18 10:25] aseppala commented on #51
Got it. I didn't have jruby activated. I'll close this issue and open a PR.

[2015-12-18 10:25] #51 closed

[2015-12-30 04:17] jordansissel commented on #5
Personally, I feel that the durable/auto_delete behaviors are sufficient for this use case. We can revisit this later if we really need it. :heart:

[2015-12-30 04:17] #5 closed

[2016-01-09 14:48] Semyazz commented on #27
+1

[2016-01-11 17:06] ThomasdOtreppe opened #58 "Plugin doesn't grab logs if one queue/exchange cannot be connected to"
System info:
- Logstash 2.1.1 from Elastic repos
- Offical, Java 8u66

I'm connecting to a few exchange/queues with the following configuration for each (the IP is the only thing that changes):
[code]

In the event where one of the multiple exchange is not available, logstash will log it (which is expected) but it will not grab logs from the other instances that are up and running.
Restarting logs

[2016-01-11 17:07] jordansissel commented on #58
@ThomasdOtreppe Weird behavior, I agree! Is there any exception or error logged?

[2016-01-11 17:09] ThomasdOtreppe commented on #58
Sorry, forgot to add it:
[code]

[2016-01-21 09:16] yanou75pro opened #59 "after a restart of rabbitmq logstash is not sending Ack after consuming a message"
Hi,
I've tested the behaviour of the plugin when I stop the rabbitMQ Server.

before the restart everything is ok logstash is consuming logs.

after the restart, Logstash reconnect fine to the server,
Hearbeat that I have put to 20 seconds on server side is sent by the server et respond by logstash. (I see that in a pcap dump).
but when I send the first message that should be consume by logstash,

[2016-01-21 18:36] suyograo commented on #26
Closing this in favor of elastic/logstash#4544

[2016-01-21 18:36] #26 closed

[2016-01-22 16:37] ThomasdOtreppe commented on #58
Any update on the issue?

[2016-01-26 01:15] sherry-ger opened #60 "Provide an error message when RabbitMQ instance is not available."
LS version 2.1

When a RabbitMQ instance is unavailable and LS cannot connect to it, LS shows the following messages.

[code]

The error messages seem to be available once DEBUG was enabled.  Please add the actual error message.  Perhaps, this is related to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/49.

[2016-01-26 20:38] ThomasdOtreppe commented on #58
Anymore information you need?

[2016-01-27 11:08] yanou75pro commented on #59
I made some more test
if there is another input plugin (in my case beat) I have this log
[code]
I have nothing after that.

when rabbit restart I can see logstash has reconnect partially (I see a channel on rabbit admin gui but message are not acknowledged)

if I delete  beat input plugin, when rabbit is shutdown, Igot those logs
[code]

I this case the complete pipeline is shutdown and I don't se

[2016-02-01 05:30] gromit6891 commented on #48
Any updates on this?

[2016-02-01 08:03] magnusbaeck commented on #25
This issue was addressed with https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/15 so it can be closed.

[2016-02-01 12:02] jsvd commented on #17
@michaelklishin question: when a queue does a subscribe_with with auto_ack=true and a BlockingCallbackConsumer that blocks frequently, then it's necessary to limit the queue sized (through :buffer_size) because prefetch_size won't prevent the consumer to retrieve millions (2^31-1) of messages from the rabbitmq queue and blow up memory, right?

[2016-02-01 12:34] michaelklishin commented on #17
@jsvd `basic.qos prefetch size` is exactly what limits the number of deliveries to a consumer but only if it uses manual acknowledgements. `:buffer_size` in combination with TCP back pressure in recent Java client releases can do a similar thing with automatic acknowledgements but we only consider it to be a protection measure for complete beginners.

Auto-deletion has nothing to do with this.

[2016-02-01 12:35] michaelklishin commented on #17
`:buffer_size` controls max size of an `ArrayBlockingQueue` which deliveries are placed on.

[2016-02-01 21:17] magnusbaeck opened #63 "Integration tests fail because the private stop() method is called"
Trying to run the integration tests on commit 6af9884e, the instance.stop() call in the integration tests fail since stop() is private:

[code]

I doubt it's related, but I wasn't sure how to run the integration tests (since they're under a `:integration => true` condition) so I monkey-patched that line like so:

[code]

I occasionally get the tests to pass if I comment out the stop() call, but th

[2016-02-02 11:30] jsvd commented on #63
strange, I haven't been able to make them fail yet, even with your seed:

[code]

[2016-02-02 12:11] magnusbaeck commented on #63
Oh, that's weird. To me the error looks like a clear-cut coding error. Could there be a difference in e.g. JRuby version? This is what I run:

[code]

[2016-02-02 12:15] jsvd commented on #63
humm I don't see why it should be private..https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/6af9884e8aed042ba62aab460322bb885e509ae4/lib/logstash/inputs/rabbitmq.rb#L107-L111

I'm using jruby 1.7.22. I'll upgrade just to double check but shouldn't make a difference

[2016-02-02 19:45] magnusbaeck commented on #63
Indeed, JRuby shouldn't matter and the original definition of stop() (AFAIK anyway—[logstash/inputs/base.rb:70](https://github.com/elastic/logstash/blob/d74d41cb30c327ddb658e9b51fc2b2206a3d59fb/logstash-core/lib/logstash/inputs/base.rb#L70-L77)) is also public.

But wait... I don't think you enabled the integration tests? Your log output indicates that you only ran 5 tests, but with integration te

[2016-02-02 20:29] jsvd commented on #63
I did experiment with running integration tests and  they also worked :/

[2016-02-02 20:52] magnusbaeck commented on #63
Oh dear. Giant facepalm for me and a testament to my Ruby ignorance. I had added a couple of private methods and wasn't aware that prepending a method definition with `private` apparently affects the rest of the class except those explicitly marked `public`. And, you guessed it, `def stop` happened to follow my private methods. Closing the issue, obviously, and sorry for taking your time.

What co

[2016-02-02 20:52] #63 closed

[2016-02-03 22:26] ThomasdOtreppe commented on #48
Any update? This is a pretty serious bug.

[2016-02-03 22:29] michaelklishin commented on #48
What do you mean by "crashes", does the entire JVM process terminate?

[2016-02-03 22:34] ThomasdOtreppe commented on #48
Yes.

[2016-02-03 22:35] ThomasdOtreppe commented on #58
Any update? It is fairly annoying to have to go in Logstash and disable and restart it every time a RabbitMQ is down (or get back up).

[2016-02-04 03:24] andrewvc commented on #48
@ThomasdOtreppe I'll try and take a look tomorrow.

@michaelklishin your thoughts? Should we be handling this differently at the Logstash level?

[2016-02-04 07:16] michaelklishin commented on #48
@andrewvc declare things that do not exist?

[2016-02-06 21:37] magnusbaeck commented on #42
logstash-input-rabbitmq had march_hare upgraded in #55, which brought in logstash-mixin-rabbitmq_connection v2.3.0, which includes https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/13, which bumps march_hare from 2.11.0 to 2.15.0. Close this issue?

[2016-02-06 22:10] michaelklishin commented on #42
@magnusbaeck March Hare 2.16 is out ;)

[2016-02-08 18:18] ThomasdOtreppe commented on #58
Any update?

[2016-02-08 18:46] michaelklishin commented on #58
@ThomasdOtreppe full Logstash log is pretty essential to understand issues like this. `MarchHare::ConnectionRefused` simply means the plugin failed to connect, not much else.

[2016-02-08 23:07] ThomasdOtreppe commented on #58
I don't remember seeing anything else in the logs.

[2016-02-16 23:20] ThomasdOtreppe commented on #58
Any updates?

[2016-02-17 04:12] michaelklishin commented on #58
@ThomasdOtreppe sorry but asking for updates every few days is not productive and will not take you anywhere. Please either provide **full logs** of both Logstash and RabbitMQ, or look into the issue yourself. This is open source software. Don't expect others to always fix shit for you.

@jsvd any chance someone from Elastic can take a look at this?

[2016-02-17 16:05] ThomasdOtreppe commented on #58
@michaelklishin I provided the full logs. That line was all I got (multiplied by the amount of hosts offline). Out of curiosity, what should I do to have bugs fixed? I have a PR that is more than 6 month old (basically some code that was lost back when Logstash was became 1.5 and plugins got moved to their own repo) that hasn't been integrated yet. I have a bunch of bugs where I provided plenty of

[2016-02-17 18:50] andrewvc commented on #58
@ThomasdOtreppe I apologize for us not replying to that old PR (Could you link to it from here please? I can't find it). We could do a lot better job of triaging and managing expectations for issues and we're having internal discussions to that effect.

Have you tried updating the plugin to the latest release (3.1.4)? This may have been fixed by https://github.com/logstash-plugins/logstash-input-r

[2016-02-17 18:52] ThomasdOtreppe commented on #58
https://github.com/logstash-plugins/logstash-input-wmi/pull/9

I didn't know the plugin had an update. I'll give it a try and let you know.

[2016-02-19 15:16] benimurza opened #66 "New consumer created after each RabbitMQ restart"
Given:

- Logstash with RabbitMQ input plugin 3.1.4 (installed as service with nssm)

- RabbitMQ (installed as service)

Problem: after each RabbitMQ service restart, a new consumer tag is created. What this means: at first, every message sent to logstash is received (and written in elasticsearch, in my case). After a RabbitMQ restart, only every 2nd message is written in elasticsearch, the other

[2016-02-19 18:36] ThomasdOtreppe commented on #58
Still happens with 2.2.2 (which has the latest version: no update for the plugin).

[2016-02-19 22:20] jsvd commented on #58
from what I see this has to do with:
a) logstash initialization process [sequentially starts all input plugins](https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/pipeline.rb#L374-L378) can get blocked if one doesn't return
b) the [logstash-input-rabbitmq register method](https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq.rb

[2016-02-20 06:17] andrewvc commented on #58
@jsvd I disagree here. I believe it should start regardless. In the event that a single rabbitmq server is down that shouldn't block the whole pipeline.

We should, however, do that in a separate thread from the main one invoked by register.

[2016-02-25 10:44] thenom opened #67 "LS shuts down gracefully when connection to RabbitMQ breaks"
I have a setup where Logstash connects to RabbitMQ server through a Keepalived VIP -> Haproxy loadbalancer which works perfectly fine but i have been doing some component test failures and found an issue.  My Keepalived checks for HaProxy running and if it is not then drops the weight of the server and the VIP moves to the slave and that HaProxy then continues.

The test i did was to stop HaProxy

[2016-02-25 14:00] smetj commented on #48
@andrewvc a good behaving amqp client should declare missing exchanges, queues and bindings and that's what the logstash rabbitmq input also should do.

I also ran into this issue

Besides that, the "exchange_type" parameter seems to be optional, whilst for the output plugin it is an obligatory parameter. Not a huge problem as such, but both input & output rabbitmq plugins should have the same beh

[2016-02-25 16:03] andrewvc commented on #67
Hmmm, this should no longer be the case. Which version of the rabbitmq plugin are you using?. You can check your Gemfile with `cat Gemfile.jruby-1.9.lock | grep input-rabbitmq`.

This should be fixed in 3.1.4. If not please let me know and I'll look into it. If upgrading fixes it please close the issue.

[2016-02-25 16:04] andrewvc commented on #66
@benimurza Thank you for reporting this. This must be related to https://github.com/logstash-plugins/logstash-input-rabbitmq/pull/64 . @michaelklishin if I had to guess on reconnect the consumer is re-established but the block is just not ever called again.

[2016-02-26 03:16] andrewvc commented on #66
@benimurza when https://github.com/logstash-plugins/logstash-input-rabbitmq/pull/68 is merged that should fix the issue!

[2016-02-26 11:38] thenom commented on #67
Hi Andrew,

[landerson@elk-logstash04 ~]$ sudo cat /opt/logstash/Gemfile.jruby-1.9.lock | grep input-rabbitmq

    logstash-input-rabbitmq (3.1.3)

  logstash-input-rabbitmq

[landerson@elk-logstash04 ~]$

This is the plugin that came with logstash 2.2.  I will get this upgraded and let you know.

Thanks.

[2016-02-28 10:24] thenom commented on #67
It seems like Logstash 2.2.1 came to the rescue with 3.1.4 :)

Cheers Andrew, all working now.

[2016-02-28 10:24] #67 closed

[2016-02-28 16:13] #66 closed

[2016-02-29 21:03] andrewvc commented on #67
Hey @thenom you may want to upgrade to 3.1.5. There was an issue with duplicate consumers in 3.1.4 that I fixed :(. Sorry for the churn!

[2016-03-01 09:08] thenom commented on #67
Ah, ok.  Cheers for letting me know.  Appreciated.

[2016-03-03 13:43] thenom commented on #67
Hi Andrew,

I have noticed on the new version (3.1.5) that the throughput is greatly reduced, even though the consumers bug has appeared.  with my current setup i could get over 10K message collected per second but with 3.1.5 i can only get approx 2K.  Is this a known issue or do you want me to open another?

Thanks,
Simon

[2016-03-04 10:43] thenom opened #69 "Slow throughput with 3.1.4\3.1.5"
Hi,

I have recently upgraded this plugin due to https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/67 but previously i was getting well over 10k messages/s and now get approx 2k.

There is nothing other than this plugin changed and have had to go back to 3.1.3.

Please let me know if you need any information regards setup.

Thanks,
Simon

[2016-03-07 19:42] andrewvc commented on #24
This has been fixed in https://github.com/logstash-plugins/logstash-input-rabbitmq/pull/65

[2016-03-07 19:42] #24 closed

[2016-03-07 19:43] andrewvc commented on #59
@yanou75pro this has been fixed in the latest version. Apologies for the issue. If, after upgrading your rabbitmq plugin to the latest version this persists please open a new ticket.

[2016-03-07 19:43] #59 closed

[2016-03-07 19:44] andrewvc commented on #56
Weird, but I'm glad its resolved! Thanks for reporting this @oksuz !

[2016-03-07 19:44] #56 closed

[2016-03-07 19:46] andrewvc commented on #50
This should be fixed now as of https://github.com/logstash-plugins/logstash-input-rabbitmq/pull/46/files

Please reopen this if you continue to encounter issues.

[2016-03-07 19:46] #50 closed

[2016-03-07 19:46] andrewvc commented on #43
@markwalkom can you reopen this in logstash/core ? This is actually an issue with the input plugin base class.

[2016-03-07 19:46] #43 closed

[2016-03-07 19:48] andrewvc commented on #29
@michaelklishin I like this idea. Would you be up to contribute a patch here?

[2016-03-07 19:48] andrewvc commented on #23
This has been fixed for a while now.

[2016-03-07 19:48] #23 closed

[2016-03-07 19:48] andrewvc commented on #13
Been refactored for a while now :)

[2016-03-07 19:48] #13 closed

[2016-03-07 19:49] andrewvc commented on #8
Fixed for a while. Reopen if you still have this!

[2016-03-07 19:49] #8 closed

[2016-03-07 19:49] andrewvc commented on #44
This has been resolved via @michaelklishin 's answer. Thanks! If you continue have issues please open a new ticket.

[2016-03-07 19:49] #44 closed

[2016-03-07 19:51] andrewvc commented on #31
@baoyonglei you want to try and inspect  the message with the 'rubydebug' codec on stdout. Try:

[code]

and let us know if that works or not.

[2016-03-07 19:52] andrewvc commented on #19
This has just been merged into master and should be released soon!

[2016-03-07 19:52] #19 closed

[2016-03-07 19:54] andrewvc commented on #18
@flaiming this isn't something we generally support in Logstash. We may merge this soon which would help in another way: https://github.com/elastic/logstash/pull/4710

[2016-03-07 19:54] #18 closed

[2016-03-07 19:54] andrewvc commented on #21
This thread seems dead, closing.

[2016-03-07 19:54] #21 closed

[2016-03-07 19:58] suyograo commented on #69
@thenom can you provide us a jstack output for LS ? Can you get us about 5 snapshots, repeated at 2 sec interval?

[2016-03-07 20:38] michaelklishin commented on #29
@andrewvc yes, in a few weeks.

[2016-03-07 20:57] fbaligand commented on #18
@flaiming
'environment variable injection in logstash plugin configuration' (https://github.com/elastic/logstash/pull/4710) has just been merged and will be included in Logstash 2.3.0.
I think it could answer your need.

[2016-03-07 23:20] andrewvc commented on #69
@thenom out of curiosity are you using ACKing?

[2016-03-07 23:20] andrewvc commented on #69
@thenom can you share your config with us?

[2016-03-08 15:40] thenom commented on #69
@andrewvc,

Sorry about the delay in replying.  I don't use ACK for the consumers.  Here is the input config:

[code]

This config didn't change between updates and the throughput went back up when i went back to 3.1.3.

@suyograo I will find running this test difficult because our dev setup does not have anywhere near the throughput our prod setup does and as i cannot put this back into live, i w

[2016-03-10 20:09] ThomasdOtreppe commented on #48
@andrewvc Have you had a chance to test?

[2016-03-10 21:46] andrewvc commented on #48
@smetj @ThomasdOtreppe thanks for your input, I have a patch up here: https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/48

I'm hoping to merge it and release it soon.

[2016-03-10 21:47] andrewvc commented on #48
@smetj @ThomasdOtreppe correction, the patch is here: https://github.com/logstash-plugins/logstash-input-rabbitmq/pull/72

[2016-03-11 14:45] #48 closed

[2016-03-11 15:37] GlenRSmith commented on #29
I'm quite interested in seeing improvements in throughput where RabbitMQ and Logstash are both in the data pipeline. (Evidence here: https://github.com/logstash-plugins/logstash-output-rabbitmq/issues/25)

Is the proposal here to add configuration options to the ls-in-rmq plugin which would only work against an exchange that has the linked plugin installed?

[2016-03-11 15:39] andrewvc commented on #29
@michaelklishin thinking through this I think that this should be a separate plugin if it's tightly bound to rabbitmq sharding. That being said if it's as simple as patching this to support multiple input queues (so you could pass an array of queues as an argument) then that would be a good patch to take.

[2016-03-11 19:06] andrewvc commented on #69
@thenom I have a patch set that makes this plugin fast again in #73

[2016-03-12 10:28] thenom commented on #69
@andrewvc Great, cheers.  I will try it out when i get back into work.

[2016-03-15 19:09] ThomasdOtreppe commented on #58
It blocks any other input to start if starting (I open a listening TCP socket with logstash and it didn't start). When it is running and one goes down, it seems like it goes back to connecting and freezes everything else.

Any update on a solution for this?

[2016-03-16 14:15] andrewvc commented on #69
@thenom any updates here? Would be great to have some real world feedback

[2016-03-16 18:40] thenom commented on #69
Sorry about the delay.  I have set it up in our development environment but
not loaded it up for functional testing yet.  Will let you know.  Hopefully
it will be tomorrow.

On Wed, 16 Mar 2016 14:15 Andrew Cholakian, <notifications@github.com>
wrote:

[2016-03-18 16:00] thenom commented on #69
Hi,

Ok, after a nightmare week at work i finally got time to test in dev.

I kept getting the following problem:

{:timestamp=>"2016-03-18T15:51:14.552000+0000", :message=>"No exchange type declared for exchange incoming_logs!", :class=>"LogStash::ConfigurationError", :location=>"/opt/logstash/vendor/local_gems/94c9285d/logstash-input-rabbitmq-3.3.1/lib/logstash/inputs/rabbitmq.rb:193:in `bind_ex

[2016-03-18 19:16] andrewvc commented on #69
@thenom the latest version of this plugin requires that you declare the exchange type explicitly with a new 'exchange_type' option.

[2016-03-18 19:23] ph opened #74 "Test failling on travis"
Using Accessor#strict_set for specs
Run options:
  include {:integration=>true}
  exclude {:redis=>true, :socket=>true, :performance=>true, :couchdb=>true, :elasticsearch=>true, :elasticsearch_secure=>true, :export_cypher=>true, :windows=>true}
link: https://travis-ci.org/logstash-plugins/logstash-input-rabbitmq/builds/116974749
[code]

[2016-03-18 19:29] ph commented on #74
@andrewvc I am porting this to your attention.

[2016-03-18 19:51] andrewvc commented on #74
This is a bug with the current LS preview release. This is fixed in master

[2016-03-22 09:58] toopa2002 commented on #59
@andrewvc What is the version that fix the issue?

[2016-03-23 16:53] ebuildy opened #75 "No reconnect after node lost in a HA cluster via HAProxy"
It seems this plugin does not reconnect all thread after a rabbitmq connection lost.

Here my setup (running on Docker):
- 3 rabbitmq nodes (configured with mirror queues) (hostname r1, r2, r3)
- HAProxy in front of them (hostname lb)
- logstash connected to HAProxy (plugin version 3.3.0) (hostname ls)

[code]

Time 00:00 => everyone is up, HAProxy reports logstash is connected 2 times to r1, 2 ti

[2016-03-23 19:19] andrewvc commented on #69
This should be fixed in the recently released 4.0.0 version. Thanks for the report @thenom , please open a new issue if you still have problems here!

[2016-03-23 19:19] #69 closed

[2016-03-29 13:09] thenom commented on #69
Hi @andrewvc,

Once again, sorry for the delays.  3.3.1 is functionally running fine on my dev stack with the additional exchange_type option.  Ironically, the reason i have been so busy is our production stack has throughput issues so can't fully load it.  I am sure it will be fine but will let you know if i get anymore issues.

Thanks.

[2016-03-29 17:39] ebuildy opened #76 "No error if RabbitMQ goes down"
Before version 3.3.0, when Rabbit server went down, logstash throws:

[code]

With version 4.0.1, nothing happen (as you can on docker-compose logs, here https://gist.github.com/ebuildy/d405dab7dbaca2e3a03dc2a7fa6f5b29) if queue server is down, is it normal?

Thanks you,

[2016-03-29 17:39] ebuildy commented on #75
Related to #76

[2016-03-29 17:39] #75 closed

[2016-03-29 19:18] ebuildy commented on #58
Hello @ThomasdOtreppe , can you provide an overview of your "network" and run logstash with debug enabled then print all logs until this error.

Maybe with docker compose, such as:

[code]

Where logstash.conf:

[code]

So I could try to help you in this if you want to.

[2016-03-29 21:35] andrewvc commented on #58
@ThomasdOtreppe This is tricky and may even require changes to LS core. What does it mean for a plugin to be started? When to be abort logstash? When do we report errors to the user? Etc. I'm thinking through these issues and will respond later this week with an answer.

The short answer though, is that as is this plugin expects that your RabbitMQ instance is reliable. I totally see the logic for

[2016-03-29 22:22] ThomasdOtreppe commented on #58
The reason I'm grabbing logs from RabbitMQ on other servers is because they are connected through a VPN and sometimes clients get disconnected for various reasons and I don't want to miss a single log. There is another instance of logstash on those RabbitMQ server that both put data in elasticsearch and in RabbitMQ.

I can't really run 2 instances as the init file provided by Elastic doesn't allow

[2016-03-30 14:10] andrewvc commented on #76
@ebuildy that is because we now use the RabbitMQ library's built in auto-reconnect facility which is more robust. We'd be glad to accept a patch that hooks into it and logs these events however!

[2016-03-30 14:19] ebuildy commented on #76
You are talking about this: https://www.rabbitmq.com/api-guide.html#recovery ?

Thanks you, I mush finished some PR on other logstash plugins and RabbitMQ Java client (https://github.com/rabbitmq/rabbitmq-java-client/issues/138) before, then I will give an eye to it.

[2016-03-31 00:58] Jakauppila opened #77 "Allow Multiple Hosts"
So this may just be how we have our logging infrastructure structured, but I'd figure I'd toss it out there for discussion.

We use NXLog to ship from our application servers to a Logstash collector which then routes the events based on log type and version to their own queue within RabbitMQ local on the server. We have one collector per datacenter that balance the load via geographical DNS resolu

[2016-04-04 21:03] ebuildy commented on #77
Could be hard, since this plugin relies on https://github.com/rabbitmq/rabbitmq-java-client which not support this.

You could use HAProxy between?

[2016-04-07 12:40] MagicMicky commented on #74
It doesn't seem to be fixed in master as of now ( https://travis-ci.org/logstash-plugins/logstash-input-rabbitmq )

[2016-04-07 14:01] andrewvc commented on #74
@MagicMicky @ph passing now! https://travis-ci.org/logstash-plugins/logstash-input-rabbitmq

[2016-04-07 14:01] #74 closed

[2016-04-08 13:39] MagicMicky commented on #74
@andrewvc Thanks.

Yet, it seems that I can't get the meta from rabbitmq. Am I doing something wrong?

Here is my config :
[code]

And in the logs (either stdout or kibana from my elk stack), no @metadata fields.
[code]

[2016-04-11 13:41] MagicMicky opened #78 "No meta on messages"
It seems that I can't get the meta from rabbitmq. I configured the input plugin to connect to an exchange, and used the `metadata_enabled` field to let the plugin add messages metadata.

But both on stdout and kibana from my elk stack, I can't find any `@metdata`  field.

Here is my config :
[code]

[code]

[2016-04-15 11:11] jsvd commented on #17
since logstash-plugins/logstash-input-rabbitmq#73, version 4.0.0 of the plugin, it directly controls the buffering queue of the rabbitmq subscriber, and it is limited to `@prefetch_size`

so essentially upgrading to this version eliminates this scenario.

That said, manual acks and prefetch size should be the default mechanism for qos

[2016-04-15 11:11] #17 closed

[2016-04-15 12:27] michaelklishin commented on #17
@jsvd FYI https://github.com/rabbitmq/rabbitmq-java-client/issues/19. Using manual acks by default is a good idea nonetheless.

[2016-04-18 10:30] julian-eggers opened #79 "Retrieving Metadata-Fields do not work"
Hey,

I want to split the routing-key of a rabbit-message to 3 different new fields but I am not able to get the routing-key at all.

My Setup:
logstash 2.3
rabbitmq-plugin 4.0.1
rabbitmq 3.6.1

My current config:
[code]

I tried several options to read the routing-key but I always get an config-error.

[2016-04-20 08:50] julian-eggers commented on #79
Works with logstash 2.3.1 and
 add_field => {"routing-key" => "%{[@metadata][rabbitmq_properties][routing-key]}"}

[2016-04-20 08:50] #79 closed

[2016-04-26 17:16] suyograo commented on #78
@MagicMicky `@metadata` is only available in the runtime of the pipeline and will not be persisted to outputs. You will have to explicitly copy them to another field, if you need them in Kibana/stdout

See: https://www.elastic.co/guide/en/logstash/current/event-dependent-configuration.html#metadata

[2016-04-26 17:16] #78 closed

[2016-04-26 17:18] jsvd commented on #58
at this point this is decision that must be made across logstash: should the start_inputs action be synchronous or not.
Please follow up discussing in https://github.com/elastic/logstash/issues/4931

[2016-04-26 17:18] #58 closed

[2016-04-26 20:36] tsvenkat commented on #8
Hi, what version of logstash includes this fix ?
I am running 1.5.3 and seeing this issue. What version should I move to ? (we are still using Elasticsearch 1.6.3).

Thanks,
Venkat

[2016-04-28 14:13] parabolic opened #80 "Rabbitmq input plugin doesn't recover when exchange is not found"
Hi,
I am having this issue with the latest rabbitmq input plugin. I've been using logstash version 2.2.2 for some time now and Yesterday I decided to bump the version to the latest 2.3.2. The problem that I am experiencing is that the input plugin doesn't want to reconnect to the queue after the exchange has been created. So it goes like this
1. logstash with rabbitmq input (configuration is below

[2016-04-28 14:21] michaelklishin commented on #80
You are hitting a channel exception, not a connection one. Those are *not* automatically recovered from, by design: they an indicate an application or environment error. In your case Logstash tries to publish to an exchange that does not exist.

[2016-04-28 14:23] parabolic commented on #80
@michaelklishin
thanks for the fast reply but how is it working in 2.2.2 and I am not getting that exception ?

[2016-04-28 14:24] michaelklishin commented on #80
@parabolic I know nothing about your environment. It could be a behaviour change in this project. My remark was about the way RabbitMQ client libraries work, including the one that's used by this plugin.

Anyhow, this issue certainly has a workaround: declare the exchange.

[2016-04-28 14:27] michaelklishin commented on #80
Also: I primarily wanted to point out that according to the log provided, there are NO issues with the connection, it's the channel that is closed (because of a "not found" protocol exception). So the title of this issue as it is right now is misleading.

[2016-04-28 14:29] parabolic commented on #80
Ok, that was the only fix I could think of anyway.
I will give you some insight on how I use it.
Logstash rabbitmq-output ( creates the queue, and exchange and puts messages to the queue ) -> Rabbitmq <- Loggstash rabbitmq input ( consumes message ).
Both logstashes are separate service on one machine so I get a queue sandwich of :
logstash-rabbitmq-logstash
The logstash consumer connects to rabbi

[2016-04-28 16:14] parabolic commented on #80
@michaelklishin
just to let you know that I was able to solve the issue by predefining the exchange and queue before logstash starts working.
I  can safely close this one or leave it open that's up to you.

Thanks for the support and cheers!

[2016-05-02 21:43] PhaedrusTheGreek opened #81 "Java::JavaIo::IOException on vhost access restriction"
When connecting to a RabbitMQ server, and attempting to access a queue on a vhost to which you have not been granted access, you get an IOException instead of a decent explanation:

[code]

[2016-05-02 21:49] michaelklishin commented on #81
March Hare wraps certain exceptions into Ruby ones but not all of them. This project should not be concerned with Java client to Ruby exception conversion, [March Hare](https://github.com/ruby-amqp/march_hare) should.

[2016-05-02 21:50] PhaedrusTheGreek opened #82 ""true SSLContext not available" / NoSuchAlgorithmException in Logstash 2.3.2"
When using RabbitMQ input with `ssl => true` in Logstash 2.3.2 against RabbitMQ 3.6.1 , connection fails with *"true SSLContext not available"* / *Java::JavaSecurity::NoSuchAlgorithmException*.

[code]

Strangely, this doesn't happen in Logstash 2.3.1 even though the plugin version is the same.

[code]

[2016-05-03 18:12] PhaedrusTheGreek commented on #82
@andrewvc

Steps to test:

[code]

where /opt/etc-rabbitmq contains: rabbitmq.config:

[code]

and also the given cert files (you're on your own)

Next, mozey into the admin interface http://localhost:15672/ and:
- Add the user called `index` with password `index`, set permission to the `/` virtualhost.
- Add the queue called `logstash.queue`

Configure logstash to test:

[code]

[2016-05-11 19:21] andrewvc commented on #82
@PhaedrusTheGreek this will be fixed in https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/22

[2016-05-13 05:33] dkiser commented on #82
@andrewvc this bit me earlier today....running logstash 2.3.1 with the following versions installed

*logstash-input-rabbitmq-4.0.1
*logstash-mixin-rabbitmq_connection-2.4.0

I see new 5.x versions on rubygems, but these are only for logstash 5.x right?  Any idea if this will be fixed for 2.3.X or what a workaround would be?

[2016-05-13 16:26] andrewvc commented on #82
My mistake. I'll release a 2.3.x version ASAP

On Fri, May 13, 2016 at 12:33 AM, Domingo Kiser <notifications@github.com>
wrote:

[2016-05-13 16:46] dkiser commented on #82
@andrewvc nice!  in theory i should be able to do a plugin update afterwards and update my settings to the new types and be GTG.  I was getting a file not found error when i had SSL on via "TLSv1.1" due to the `tls_certifciate_path` key being in the `rabbitmq_settings` bag.

error after realizing I needed a version string instead of 'true'
[code]

original code in the mixin i had
[code]

monkey pa

[2016-05-19 16:32] PhaedrusTheGreek commented on #82
Also as a workaround, you can set `ssl => “TLSv1.2"` instead of `ssl => true`, but if you apply the workaround, it will break when the fix is applied, so be sure to set it back to `ssl => true` when you upgrade.

[2016-05-19 19:40] dkiser commented on #82
@PhaedrusTheGreek that workaround didn't work for me due to the `tls_certificate_path` problem posted above.  The workaound that did work for me was manually installing compatible versions of `logstash-input-rabbitmq` and `logstash-mixin-rabbitmq_connection` after removing the originally installed versions from the gemfile lock in the Logstash distro.  Plugin updates would never work for me due to

[2016-05-19 21:49] andrewvc commented on #82
Thanks for posting the update @dkiser it is much appreciated :) Sorry the workaround didn't work as I'd thought.

[2016-05-30 19:28] wiibaa commented on #28
stall answered question
@suyograo can you close please

[2016-05-30 19:29] wiibaa commented on #25
@suyograo can you close please

[2016-05-31 10:09] #82 closed

[2016-06-30 21:13] jmparra commented on #27
why isn't implemented? https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/89cc1a8e1042d8db873b5f188162bdd937e1dbdf

[2016-07-20 14:42] andrewvc opened #87 "Rescue java.io.IOError on consumer cancel"
Currently in bizarre situations a consumer cancel can fail if there is a missing consumer tag. Why this would happen, I do not know, but it has happened. See https://www.rabbitmq.com/releases/rabbitmq-java-client/v2.8.2/rabbitmq-java-client-javadoc-2.8.2/com/rabbitmq/client/Channel.html#basicCancel(java.lang.String)

[2016-07-20 14:55] michaelklishin commented on #87
It can fail because the consumer was already cancelled either by a client or, for example, because consumer's queue was deleted/expired. It will also fail if you try cancelling a consumer on a different channel.

[2016-08-03 02:05] rukai-kooboo opened #88 "Where to find the logs for this plugin?"
Hi There,
I'm new to Logstash and using RabbitMQ + ELK.

RabbitMQ: 3.6.4
Logstash: 2.3.4

I've installed all tools, and they works fine themselves. But I can't find the index in Elastic Search after pushing message queue to Logstash via RabittMQ:

The config:

input {
   rabbitmq {
        host => "127.0.0.1"
        user => "guest"
        password => "guest"
        queue => "test_queue"

[2016-08-03 03:51] #88 closed

[2016-08-05 15:07] andrewvc commented on #87
Thanks for the background @michaelklishin !

[2016-08-08 17:59] Signus opened #90 "Message(s) repeatedly being loaded from/into queue"
Single or multiple messages are being grabbed from the queue correctly, however they are not appropriately being dequeued, and the same message is loaded from the queue repeatedly by the `logstash-input-rabbitmq` plugin, creating thousands of duplicates.

**Note**: Even after the message is removed from the queue (either by requeue:false or purging the queue, it appears `logstash-input-rabbitmq` i

[2016-08-08 18:28] michaelklishin commented on #90
You see that the message is being re-queued and redelivered. Most likely the output fails with an exception. See Logstash logs.

[2016-08-08 19:02] Signus commented on #90
I did check that, however there are zero exceptions that occur during this process.

I would also imagine if that were true, then when I utilize `output-tcp`, I would never see those logs on the other system. The behavior for stdin and tcp outputs are the exact same.

[2016-08-08 23:16] #90 closed

[2016-08-08 23:21] Signus commented on #90
False alarm - an old configuration utilizing the `logstash-output-rabbitmq` plugin was running on the same system under a different instance, meaning that everything that was being grabbed by RabbitMQ was immediately being re-entered into RabbitMQ.

[2016-08-12 16:41] wmosher commented on #80
I am also having this new issue after upgrading from logstash 1.5 to 2.3.  In our environments logstash starts before our applications and our applications create the exchanges.  I can definitely pre-create the exchange as @parabolic noted, but it definitely didn't work this way previously and isn't ideal.

In the 1.5 version we expectedly see these errors for a bit, and then they stop once the ap

[2016-09-28 16:25] jcarterch opened #91 "RabbitMQ Input Plugin Blocks Logstash Pipeline Start"
As per discussion here https://github.com/elastic/logstash/issues/4931 , logstash starts all input plugins one by one. If the rabbit input plugin is attempting to connect to a rabbit node that is unavailable, the plugin blocks, and logstash is unable to start and initialize the pipeline. This is contrary to the redis plugin for example, which will attempt to reconnect and not block pipeline startu

[2016-10-18 15:32] digitalkaoz commented on #76
@andrewvc beside there are no logs if the rabbitmq server closes the channel, a reconnect isnt happening, why i assume logstash with rabbitmq input is not usable atm, especially in a dockerized environment... any solutions here? we to use a haproxy in between rabbit and logstash

[2016-10-18 16:48] andrewvc commented on #76
@digitalkaoz why is the rabbitmq server closing the channel?

AFAIK if you do that the meaning is you want the client to stop and not restart. Please correct me if I'm wrong here.

[2016-10-18 16:49] andrewvc commented on #76
@digitalkaoz that's a different situation, may I add, from one where the server has gone down as a result of an error.

[2016-10-18 16:51] andrewvc commented on #76
@ebuildy @digitalkaoz , if you all can share a reproducible test case I'd be glad to try it and find a fix. Just list the steps to reproduce, preferably just using logstash and a local rabbitmq.

[2016-10-18 18:05] digitalkaoz commented on #76
@andrewvc the rabbit an haproxy server are restarted during deployments (they are just docker containers)

here the setup:

rabbitmq -> 5672(tcp) -> haproxy -> 5672(tcp) -> logstash

`rabbitmq.conf` is default

`haproxy.conf`
[code]

`logstash.conf`

[code]

if we only restart rabbitmq it seems fine when we gracefully shutdown the server:

[code]

we explicitly close the connection the force the l

[2016-10-18 18:06] digitalkaoz commented on #76
i think thats a quite common scenario in a containerized world

[2016-10-18 20:38] digitalkaoz commented on #76
when i restart logstash i get the following error: ```An unexpected error occurred!", :error=>com.rabbitmq.client.AlreadyClosedException: connection is already closed due to connection error; cause: java.io.EOFException, :class=>"Java::ComRabbitmqClient::AlreadyClosedException", :backtrace=>["com.rabbitmq.client.impl.AMQChannel.ensureIsOpen(com/rabbitmq/client/impl/AMQChannel.java:195)", "com.rabb

[2016-10-18 21:08] digitalkaoz commented on #80
@michaelklishin how to recover channel exceptions (haproxy kill the tcp connection due to a restart) then? why those are not recovered by design? the logstash plugin should try at least

[2016-10-18 23:31] andrewvc commented on #76
@digitalkaoz thanks for the very detailed description here!

@michaelklishin should the java client's auto connection recovery just handle this?

[2016-10-19 04:37] michaelklishin commented on #76
It [takes time to detect peer unavailability](http://www.rabbitmq.com/heartbeats.html). I don't see how this is a connection recovery issue: recovery cannot start if a client connection is still considered to be alive.

[2016-10-19 04:37] michaelklishin commented on #76
Also: do not set heartbeats to a value lower than 5 seconds. That is recipe for false positives.

[2016-10-19 05:42] digitalkaoz commented on #76
We waited alot but logstash wont recover the Connection. I would rather get
false positives than nothing...any more ideas? The Error Message at the End
says it very clear. The Channel was already closed, bc it received an Error
Frame. The Connection seemed to get Alive again within the time Span. But
the Channel is unusable

Michael Klishin <notifications@github.com> schrieb am Mi., 19. Okt. 2016,

[2016-10-19 12:52] andrewvc commented on #76
@michaelklishin thanks for popping in!

He's setting the heartbeat to 30 seconds. It's confusing because the connection timeout is in millis, but the heartbeat is in seconds.

I think this is correct yes? Looking at the source of the java client it looks like timeout is set in millis and heartbeats in seconds. Is that all correct?

[2016-10-25 10:40] digitalkaoz commented on #76
@andrewvc @michaelklishin i created a tiny docker-compose setup to reproduce this issue:

https://github.com/digitalkaoz/rabbit-haproxy-logstash-fail

simply follow the `reproduce` steps...

[2016-10-25 11:04] michaelklishin commented on #76
Heartbeat timeout is in seconds per protocol spec. Also see [this thread](https://groups.google.com/d/msg/rabbitmq-users/qOjN8-U5oYI/o-2g0o7mAgAJ).

[2016-10-25 11:10] michaelklishin commented on #76
So you have HAproxy in between. HAproxy has its own timeouts (which heartbeats in theory make irrelevant but still) and what RabbitMQ sees is a TCP connection from HAproxy, not the client. I can do a March Hare release with a preview version of the 3.6.6 Java client, however.

[2016-10-25 13:09] andrewvc commented on #76
Thanks @digitalkaoz , I'll try and repro today.

[2016-10-25 13:10] andrewvc commented on #76
Also thanks for the background @michaelklishin . I'm wondering if what's happening is that HAProxy is switching the backend without letting logstash know, and without disconnecting from logstash. Will report back.

[2016-10-25 13:10] digitalkaoz commented on #76
it still fails when i wait lets say 5 minutes... @michaelklishin as i understand the relevant fix is in https://github.com/rabbitmq/rabbitmq-java-client/releases/tag/v4.0.0.M2 ?

[2016-10-25 13:11] michaelklishin commented on #76
@andrewvc typically proxies propagate upstream connection loss. At least that's what HAproxy does by default. In fact, if it didn't then the two logical ends of the TCP connection would be out of sync.

I doubt it's a Java client problem here but I've [updated March Hare to the latest 3.6.x version from source](https://github.com/ruby-amqp/march_hare/commit/4c8da4a94ed39606b120b00174b26a2b9c07d509

[2016-10-25 13:13] michaelklishin commented on #76
@digitalkaoz I'm sorry but there is no evidence that I have seen that this is a client library issue. A good thing to try would be to eliminate HAproxy from the picture entirely and also verify the effective heartbeat timeout value (management UI displays it on the connection page).

[2016-10-25 13:20] digitalkaoz commented on #76
sure if i remove haproxy from the setup the reconnect works. but thats not a typical setup (or at least at scale)

with haproxy in the middle, reconnect fails (even with a heartbeat of `10s`)

[2016-10-25 13:27] michaelklishin commented on #76
It should. We don't know why that doesn't happen: that's why I recommended checking the actual effective value.

[2016-10-25 13:33] digitalkaoz commented on #76
after restarting rabbit there is no connection alive on the rabbit-node because nobody initiated a new connection. neither haproxy, nor logstash. bc. their connection is still there but defacto useless?

[2016-10-25 14:02] andrewvc commented on #76
@michaelklishin, is there a best practice here for accomplishing what @digitalkaoz wants to accomplish? I think having a layer of indirection via a load balancer makes sense. This is something that's come up multiple times, I'm wondering if the RabbitMQ project has an official stance here.

[2016-10-25 14:10] michaelklishin commented on #76
There's no stance as HAproxy is supposed to be transparent to the client.

@digitalkaoz HAproxy is not supposed to initiate any connections upstream unless a new client connects to it.

Can we please stop guessing and move on to forming hypotheses and verifying them? The first one I have is: the heartbeat value is actually not set to what the reporter thinks it is used. I've mentioned how this can

[2016-10-25 14:12] michaelklishin commented on #76
A Wireshark capture should make it easy to see heartbeat frames on the wire: not only their actual presence but also timestamps (they are sent at roughly 1/2 of the effective timeout value).

[2016-10-25 14:20] digitalkaoz commented on #76
@michaelklishin the heartbeat is set to `10s` as i told you above...but that didnt change anything, or do you mean some other value?

![screen shot 2016-10-25 at 16 17 12](https://cloud.githubusercontent.com/assets/293591/19689702/88693d20-9ace-11e6-8423-0355f07e6384.png)

[2016-10-25 14:21] michaelklishin commented on #76
What is in server logs? HAproxy logs?

[2016-10-25 14:34] digitalkaoz commented on #76
mh the haproxy logs are not very helpful:

[code]

[2016-10-25 14:39] michaelklishin commented on #76
@digitalkaoz can you please post a less abridged log together with RabbitMQ node and Logstash logs?

[2016-10-25 14:40] michaelklishin commented on #76
According to the abridged log above, HAproxy does accept a client connection, then detects that an upstream node is down and there are no more upstreams to try. Then… we don't know what happens because the log ends.

[2016-10-25 14:41] digitalkaoz commented on #76
there are no more logs from any of the systems (neither haproxy, nor logstash)

[2016-10-25 14:44] michaelklishin commented on #76
@digitalkaoz what about RabbitMQ? Can you take a tcpdump or Wireshark capture?

[2016-10-25 14:52] digitalkaoz commented on #76
can i recommend cloning the repo? im not very familiar with tcp connection debugging :/

[2016-10-25 14:56] digitalkaoz commented on #76
@michaelklishin i attached the full log here https://gist.github.com/digitalkaoz/8f1825dd1ad2976a1516afdccf120e7f

[2016-10-25 15:06] michaelklishin commented on #76
From RabbitMQ log, after a few inbound connections and restarts:

[code]

This means that at `25-Oct-2016::14:49:07` RabbitMQ did register an inbound AMQP 0-9-1 client connection and then its TCP connection was immediately closed by HAproxy.

I am not sure what exactly `srvcls` and `clicls` are, probably "server connection closed" and "client connection closed", respectively:

[code]

I'm not sure

[2016-10-25 15:09] digitalkaoz commented on #76
following this guide? or is there some easier way? https://github.com/logstash-plugins/logstash-input-rabbitmq#22-run-in-an-installed-logstash

[2016-10-25 15:11] digitalkaoz commented on #76
maybe we also need some haproxy ninja? everything i try is an educated guess how to configure all of those 5000 different options in my tcp-proxy. do you know any?

[2016-10-25 16:48] andrewvc commented on #76
Here's one interesting datapoint, if I kill haproxy and start it back up (using your very useful docker-compose @digitalkaoz ) everything works great. So it's something in the haproxy config I think.

[2016-10-25 18:03] andrewvc commented on #76
OK, well, this is definitely something between the Java client and HAProxy. Here's a [pcap dump](https://drive.google.com/open?id=0B8_TFagdGjS4SXlwZjB2LVlETGs) using the docker compose stuff from the haproxy node.

The sequence of events was:

1. Everything running correctly
2. RMQ killed
3. RMQ brought back up
4. Logstash restarted
5. Producer Restarted

I'm too busy to keep digging on this till

[2016-10-25 18:31] digitalkaoz commented on #76
But neverless, the logstash plugin should recognize the closed Channel and
start the recovery process.

Andrew Cholakian <notifications@github.com> schrieb am Di., 25. Okt. 2016,
18:48:

[2016-10-25 18:37] andrewvc commented on #76
@digitalkaoz that's the tricky thing. The java library is supposed to do this! According to http://rubymarchhare.info/articles/error_handling.html March Hare should handle that itself. That makes it a library client bug. Please correct me if I'm wrong @michaelklishin

[2016-10-25 18:38] andrewvc commented on #76
I agree that we should make this work in Logstash BTW, if the client cannot be fixed then we'll have to find a workaround, but I'd prefer to see if we can fix the client first.

[2016-10-25 18:41] andrewvc commented on #76
I think the key issue here is RMQ server identity. If I stop and start the proxy it's fine. If I start and stop the proxy AND the rabbitmq server it is not. @michaelklishin could the issue be that the recovery code assumes the consumer will be bound to the same server?

That is to say, the automatic recovery assumes that the other end would be the same rabbitmq instance that was there before, but

[2016-10-25 19:34] michaelklishin commented on #76
As soon as there's evidence (and not guesses) that there's a March Hare or Java client bug, I'd be happy to look into it. So far I see no solid evidence.  I have provided enough pointers, hypotheses and general investigation directions. My recommendations are being largely ignored (it takes several requests to get data, no traffic captures provided, March Hare master wasn't tried).

[2016-10-25 19:35] michaelklishin commented on #76
@andrewvc clients have no way of identifying what RabbitMQ server they are connected to. It would be pretty silly to only allow recovery to re-connect to the same node because in practice reconnection to the same node will not succeed.

[2016-10-25 19:51] michaelklishin commented on #76
So I have conducted a little experiment with March Hare master, vanilla RabbitMQ 3.6.5 with all defaults, and HAproxy 1.5 (not sure what the exact version is, possibly even a `-dev` version) with
the following config:

[code]

My March Hare connection code is about as trivial as it gets:

[code]

and then I periodically check if the connection is open:

[code]

I then shut down RabbitMQ a few time

[2016-10-25 20:09] michaelklishin commented on #76
In the provided TCP dump file, if we apply a display filter that only displays the packets/segments/frames sent by the Logstash process (which seems to be on host `172.19.0.5`, according to my understanding of the heartbeat frame exchange) like this:

[code]

we see that it attempts to connect and gets an `RST` (reset) packet:

[code]

and then the next time it tries and succeeds is over a minute

[2016-10-25 20:38] digitalkaoz commented on #76
@michaelklishin thanks that you dig into. im trying to help all i can, but im neither into java-rabbitmq-client nor march-here nor logstash-plugins.

can you open a channel too (not just a connection, because thats what the logstash-plugin does, which gets closed unnoticed)

[2016-10-25 21:08] michaelklishin commented on #76
[code]

[2016-10-25 21:58] michaelklishin commented on #76
March Hare `2.19.0` is out.

[2016-10-25 22:09] andrewvc commented on #76
Great, Il'l try upgrading tomorrow. With 2.18.0 I was seeing a state where the connection was closed but auto-recovery wasn't touching it. I'll have more tmrw.

[2016-10-26 01:22] andrewvc commented on #76
Bumping versions fixed this issue to me @michaelklishin . Thanks for pushing the new version.

Opened this PR to bump it https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/32

We need a separate PR to do a better job logging bad connections.

[2016-10-26 01:47] andrewvc commented on #87
Fixed in https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/4cfc15677de673180489371cd86a970a5a450f21

[2016-10-26 01:47] #87 closed

[2016-10-26 01:49] andrewvc commented on #76
Please respond to this ticket if you're still experiencing this bug @digitalkaoz and we can reopen it . You should be able to upgrade by running `logstash-plugin --update`

[2016-10-26 01:53] andrewvc commented on #77
This is now possible though our docs are not yet updated. See https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/21b121c83f8cb84265fa9788147aa87b90e0299a#diff-5a4e6da9864c64f906837378a6f551e6R21

[2016-10-26 01:53] #77 closed

[2016-10-26 01:54] andrewvc commented on #81
Closing due to @michaelklishin 's point. I think this was already fixed since then anyway.

[2016-10-26 01:54] #81 closed

[2016-10-26 01:55] andrewvc commented on #42
This was fixed long ago. We are currently on 2.19.0

[2016-10-26 01:55] #42 closed

[2016-10-26 01:55] andrewvc commented on #28
Closed due to lack of info

[2016-10-26 01:55] #28 closed

[2016-10-26 01:57] andrewvc commented on #27
@jmparra you're right this should work. Our docs are out of date because doc regeneration is partially broken. Closing because this has worked as you pointed out in https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/89cc1a8e1042d8db873b5f188162bdd937e1dbdf

[2016-10-26 01:57] #27 closed

[2016-10-26 01:57] andrewvc commented on #91
This should be a relatively easy fix. I'll try to find some time to do this.

[2016-10-26 01:57] andrewvc commented on #31
No response, closing.

[2016-10-26 01:57] #31 closed

[2016-10-26 02:05] andrewvc commented on #80
Hmmm, the output *should* declare the exchange on boot: https://github.com/logstash-plugins/logstash-output-rabbitmq/blob/master/lib/logstash/outputs/rabbitmq.rb#L41

I'll look into why it isn't doing that.

[2016-10-26 16:31] #91 closed

[2016-10-26 19:21] digitalkaoz commented on #76
@andrewvc im not sure how it fixes it for you?

`march_hare-2.19.0`
`logstash-mixin-rabbitmq_connection-4.2.0`
`logstash-input-rabbitmq-4.1.0`

same thing, if i kill and start rabbit logstash still doesnt recover the connection, last message from logstash was now (thanks to your newest commit ;) )

`{:timestamp=>"2016-10-26T19:12:31.687000+0000", :message=>"RabbitMQ connection was closed!", :url=>

[2016-10-26 22:32] andrewvc commented on #76
@digitalkaoz yes, I followed the following your procedure (using your excellent docker-compose):

1. Start up the hole stack, wait for LS to come up
2. docker-compose kill rabbit producer
3. docker-compose up rabbit producer

That all works for me. Not for you? BTW, I'd recommend upgrading to logstash-input-rabbitmq 5.2.0

[2016-10-27 07:25] digitalkaoz commented on #76
still no luck:

[code]

what am i doing wrong?

my steps:

[code]

still logstash wont catch up :/

[2016-10-27 08:10] michaelklishin commented on #76
@digitalkaoz I'm sorry to be so blunt but if you want to get to the bottom of it you need to put in some debugging effort of your own. We have provided several hypotheses, investigated at least two, explained what various log entries mean, what can be altered to identify what application may be introducing the behaviour observed, analyzed at least one Wireshark dump, and based on all the findings

[2016-10-28 13:12] andrewvc commented on #76
@digitalkaoz can you update the docker-compose stuff with the latest? One thing that was different in my repro is that I ran everything except logstash in docker. That shouldn't make a difference, but maybe it does.

[2016-10-31 21:56] andrewvc commented on #76
Hey @digitalkaoz I'm still glad to help you get to the bottom of this. @michaelklishin thanks so much for your help, I really appreciate it!

I'm glad to personally put in some more hours here myself. What would help me move this forward @digitalkaoz is if you could update your docker config to the latest versions so we can be reproing the same things.

[2016-10-31 22:36] jcarterch commented on #91
Thanks for the quick turnaround on this @andrewvc! Tested and it worked nicely.

[2016-11-01 07:55] digitalkaoz commented on #76
sorry @andrewvc i had an busy weekend.

i updated everything to the latests version, but still no luck. the repo is up to date now.

[code]

[2016-11-01 08:01] michaelklishin commented on #76
In the snippet above both RabbitMQ and publisher are shut down and started at the same time. Note that this is not the same steps that at least some in this thread performed and creates a natural race condition between the two starting. If the producer starts before RabbitMQ then *connection recovery WILL NOT BE ENGAGED* since there never was a successful connection to recover: initial TCP connect

[2016-11-01 09:18] digitalkaoz commented on #76
@michaelklishin the producer waits 10s before doing anything, so rabbit has time to start

[2016-11-01 21:53] andrewvc commented on #76
I've reopened this issue now that I've reconfirmed it @digitalkaoz , but as I've traced the issue to what I believe to definitely be a MarchHare bug we should move the discussion to https://github.com/ruby-amqp/march_hare/issues/107

Interestingly MarchHare *does* recover if rabbitmq comes back in under the 5s window. If it takes any longer it is perma-wedged.

[2016-11-01 21:53] andrewvc commented on #76
BTW, thanks for the excellent docker compose @digitalkaoz

[2016-11-01 22:47] jordansissel commented on #76
@andrewvc and I worked on this for a while today. Packet capture in wireshark showed indeed that the rabbitmq client from Logstash was waiting 5 seconds (as expected) when rabbitmq was stopped before reconnecting. However, that reconnect attempt went like this:

* TCP handshake with Haproxy ✅
* Client (logstash) sends what looks like a hello or protocol initialization: `AMQP\0\0\9\1` ("AMQP" + hex

[2016-11-01 23:12] jordansissel commented on #76
Based on the behavior, I was able to reproduce this without docker.

* Run rabbitmq + logstash
* Let logstash rmq input connect
* Stop rabbitmq
* run `nc -l 5672` to accept the next connection retry from Logstash
* After this attempt to reconnect, rmq input never tries again.

[2016-11-01 23:33] michaelklishin commented on #76
@jordansissel this is an edge case in the protocol. Before connection negotiation happens we cannot set up a heartbeat timer but without it it takes a long time to detect unresponsive peers (whether there is a TCP connection issue or just no response as in the `nc` example).

It therefore requires an intermediary or a bogus server that doesn't respond to a protocol header.

[2016-11-01 23:34] andrewvc commented on #76
@michaelklishin confirmed this with @jordansissel . The fix is in this PR: https://github.com/ruby-amqp/march_hare/pull/108

Thanks for pointing us to the right place!

[2016-11-01 23:44] michaelklishin commented on #76
@andrewvc @jordansissel thank you for finding a way to reproduce with netcat. If there is a way for you to verify end-to-end with March Hare master, I'd be happy to do a March Hare release tomorrow morning (European time).

[2016-11-02 08:40] michaelklishin commented on #76
March Hare [2.20.0 is up](https://rubygems.org/gems/march_hare).

[2016-11-02 08:57] digitalkaoz commented on #76
@michaelklishin thanks ill test it now

[2016-11-02 13:27] digitalkaoz commented on #76
@michaelklishin @andrewvc @jordansissel  i can confirm 2.20.0 of march_hare fixed the reconnection issues. thanks for all your efforts!

[2016-11-02 13:48] andrewvc commented on #76
@digitalkaoz fantastic!

[2016-11-02 13:48] #76 closed

[2016-11-03 19:47] Jakauppila commented on #76
Should these changes be ported over to logstash-output-rabbitmq as well?

[2016-11-03 20:42] digitalkaoz commented on #76
I think it is, because the mixin (used by Input and output) loads
march_hare the output gets this fix to. Or am i wrong?

Jared Kauppila <notifications@github.com> schrieb am Do., 3. Nov. 2016,
20:47:

[2016-12-07 15:43] bheuvel commented on #80
Perhaps I'm confused, by the last comment on `output`, but I had the same problem where we spin up a collection of containers, where logstash is quicker then our application, thereby the exchange not yet created in rabbitmq, thereby logstash never "recovering".

But the comment on output made me look at the **input** source, where I spotted the _hidden_ feature:
https://github.com/logstash-plugins

[2016-12-07 18:21] andrewvc commented on #80
Thanks for reporting the issue @bheuvel . I'll try and get that docs page updated. The doc generation still has some issues, but we're working on making it update automatically.

[2017-01-05 08:14] micoq opened #93 "Use a shared ExecutorService for all AMQP connections / plugin instances"
Currently, for each AMQP connection, an ExecutorService is created with a number of threads equal to two times the number of CPUs/cores. These threads seems always to be in sleeping/blocking state (checked with VisualVM).
On a system with many cores and many AMQP connections this can waste a large amount of memory and sometimes slow down the whole pipeline.

Example on my environment:
- Logstash v

[2017-01-05 09:02] michaelklishin commented on #93
March Hare allows you to use any executor service you want.

[2017-01-05 09:44] michaelklishin commented on #93
I -1 the idea of using the single threaded executor by default. It can be `Runtime.getRuntime().availableProcessors()` instead of `Runtime.getRuntime().availableProcessors() * 2`, for example.

[2017-01-05 14:28] michaelklishin commented on #93
@micoq correct. The former is for cases when you only want to specify pool size and nothing else (the executor is of a fixed size). I'd probably recommend calculating pool size as `Runtime.getRuntime().availableProcessors()` over using a dynamically growing and shrinking service for Logstash specifically.

[2017-01-06 08:47] micoq commented on #93
So, we could create a single `ConnectionFactory` for the whole Logstash process with only one thread pool for the consumer work service executor (with something like this: `Executors.newFixedThreadPool(Runtime.getRuntime().availableProcessors())`).

Just one more question: I don't really understand the exact purpose of the consumer work service executor, does it handle the consumer I/O, serializat

[2017-01-06 14:20] michaelklishin commented on #93
@micoq correct.

`ConsumerWorkService` handles dispatch of deliveries and other consumer methods (e.g. a server-sent `basic.cancel`) to consumers. There are two major requirements that shape its design:

 * We must provide a per-channel delivery ordering guarantee
 * Consumer methods, e.g. `handleDelivery`, must be able to invoke synchronous protocol operations (e.g. `queue.declare`) without causi

[2017-01-06 14:21] michaelklishin commented on #93
@micoq well, change your workload to do something more intensive/time consuming and you will see a different pool thread utilization picture.

[2017-01-06 22:05] micoq commented on #93
@michaelklishin Thank you for the explanation. I could use the Java client directly in a custom application to charge the consumer threads. However, in Logstash, these threads never do an CPU-intensive job: They just put [the paylod in a queue](https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq.rb#L221). The queue may block but in this case, the bo

[2017-01-07 22:36] michaelklishin commented on #93
@micoq I didn't say "CPU intensive", I said "time consuming."

I'll see what would a suitable connection method look like in March Hare soon.

[2017-01-08 18:53] micoq commented on #93
@michaelklishin Yes, I just said "CPU intensive" compared to the job done by the workers threads in Logstash.

[2017-01-13 11:06] jjfalling opened #94 "Plugin is not converting values to a supported type"
- Version:  LS 5.1.1, OpenJDK 1.8.0_111
- Operating System: CentOS 7.2
- Config: (below)

The RabbitMQ input is 'leaking' this value into the Event.set(..) without converting it to a supported type. `com.rabbitmq.client.impl.LongStringHelper$ByteArrayLongString` needs to be converted to a Java or Ruby string before setting it in the Event. This seems to only occur when metadata_enabled is true.

`

[2017-01-13 17:18] guyboertje commented on #94
@andrewvc its seems like this line https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq.rb#L317
is not detecting the Java type correctly.

[2017-01-17 17:26] #94 closed

[2017-02-09 04:13] andrewvc commented on #93
@micoq thanks for the excellent sleuthing. We definitely should fix this issue.

@michaelklishin I would love to see that option added. We'd use a single global executor for all of logstash, with perhaps `#cpu_cores` slots allocated across plugin instances. WDYT of that idea?

[2017-02-09 04:15] andrewvc commented on #80
@bheuvel looks like the docs were fixed a while back! Please open a new issue if you have a new concern :) Thanks for the report!

[2017-02-09 04:15] #80 closed

[2017-02-09 04:15] andrewvc opened #97 "Log connection info on start"
It'd be nice to log the info about which host we've connected to both before and after connect for auditability.

[2017-02-12 21:44] micoq commented on #93
Without touching the march_hare code, could it be possible to share an unique connection with multiple consumers (if all the rabbitmq input instances have to the same server/port/credentials) e.g. by caching the connection among the input instances ?

In the ideal case, the input thread and the consumer thread could also be merged into an unique thread (so the internal_queue between the two thread

[2017-02-13 19:48] andrewvc commented on #93
@micoq I think that kind of connection sharing makes a ton of sense. In the long run I'd like to make it explicit via new additions to the logstash grammar, but in the meantime I think it makes sense for plugins to detect this.

I would say the best way to do this would be for the [rabbitmq_connection](https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection) mixin to set class varia

[2017-02-13 20:12] michaelklishin commented on #93
In case it would be necessary (or more convenient) to extend March Hare to expose the new Java client settings, let me know. I plan to work on a March Hare release based on the 4.x Java client quite soon.

[2017-02-17 00:14] micoq commented on #93
@andrewvc I made a small patch on the [mixin rabbitmq_connection](https://github.com/micoq/logstash-mixin-rabbitmq_connection/blob/master/lib/logstash/plugin_mixins/rabbitmq_connection.rb).
I hope this can help a bit :)

There's a new parameter `connection_pool_name` to provide a custom name to group all the rabbitmq input/outputs instances with the same name in a single connection (when it's poss

[2017-04-11 18:27] Jakauppila commented on #93
I was curious where this was left off, we also connect to a number of RabbitMQ instances from our indexers that would likely benefit from having this in place.

[2017-04-11 18:43] jmwilkinson commented on #59
Is this tied to a pull request?

[2017-04-11 18:58] michaelklishin commented on #93
@Jakauppila I haven't looked at a new March Hare version but would definitely find some time to review/guide a PR that adds support for the new Java client options. Integrating them into the Logstash plugins then should be pretty straightforward.

[2017-04-18 05:23] magnusbaeck opened #98 "Events' metadata hash is overwritten by headers and properties"
If `add_field` is used to add metadata fields, e.g. like

[code]

those fields won't end up in the events produced by the input. This is a regression introduced in #83 when

[code]

was replaced by this:

[code]

This bug was originally reported here: https://discuss.elastic.co/t/rabbitmq-input-plugin-add-field-doesnt-write-metadata/82152

[2017-04-21 18:43] #98 closed

[2017-04-25 15:48] matino opened #100 "Allow to specify headers when binding queue to the exchange"
Currently the queue can by bound to exchange, but only with the routing key:
[code]
For headers exchange type it should be possible to provide headers for the binding instead.
See https://www.rabbitmq.com/tutorials/amqp-concepts.html "Headers exchange" for more details.

[2017-07-14 20:48] akking opened #102 "Default codec is json, not plain"
I think the default codec for this plugin is "json"[(souce)](https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq.rb#L103), not "plain" from the [documentation](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-rabbitmq.html#plugins-inputs-rabbitmq-codec). Feed the rabbitmq with plain message will give a "json parse error".

[2017-08-24 19:14] tomjonandy opened #105 "Docs inaccurate"
In the docs for the `arguments` setting, it says "To make a RabbitMQ queue mirrored, use: `{"x-ha-policy" => "all"}`". This no longer works as of RabbitMQ v 3.0 (see http://www.rabbitmq.com/blog/2012/11/19/breaking-things-with-rabbitmq-3-0/).

[2017-10-03 08:49] khba commented on #102
Yes I confirm, had the same issue: feed the input with bulk messages and they were being modified without me knowing why. It's because the default codec is json and that was messing with my data, instead of plain that would have just let it plain.  Now that I changed it to "plain" it's working fine.

[2017-10-16 09:45] dgacias opened #106 "Port parameter is not working"
If i change the default port, the configuration sets an array of elements instead of replacing the port.

My conf:

    input {
    rabbitmq {
        host => "172.20.0.21"
        port => "5673"
        queue => "collectd"
        durable => true
        key => "collectd"
        exchange => "collectd"
        threads => 3
        prefetch_count => 50
        port => 5672
        user => "guest"

[2017-11-13 11:31] vibhor16 opened #107 "Support hash or password type for "ssl_certificate_password""
It is not elegant to directly type in the password ("ssl_certificate_password") as string for the ssl certificate.
This plugin should support hash type or password type for better security.
Is there a workaround that I can do for the same?
Could you please help in rectifying the issue.

- Version:  Latest plugin version
- Operating System: CentOS

[2017-11-13 17:57] jordansissel commented on #107
I don't know what "hash type" means. Hashes are one-way and cannot be reversed.

https://github.com/elastic/logstash/issues/6892 will provide a way to securely provide credentials to Logstash without having them be written in plain text.

I have also filed https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/issues/43

[2017-11-13 17:57] jordansissel commented on #107
Closing in favor of https://github.com/elastic/logstash/issues/6892

[2017-11-13 17:57] #107 closed

[2017-11-13 18:32] vibhor16 commented on #107
Hi Jordan,

I cannot find any solution in the thread that you have specified here.
Could you please specify where in the thread is the solution.

On Mon, Nov 13, 2017 at 11:27 PM Jordan Sissel <notifications@github.com>
wrote:

--
Best,
Vibhor Shukla

Vibhor Shukla, Software Engineer 2

RSA | Dell EMC | Vibhor.Shukla@rsa.com <holly.rollo@rsa.com> | 975-583-5567

[2017-12-04 06:49] vibhor16 opened #108 "SSL connection issue - infinite loop of "Using TLS/SSL version TLSv1.2""
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: Logstash 5.6.4
- Operating System: CentOS 7.3.1611
- Config File (i

[2017-12-04 07:30] #108 closed

[2018-01-18 16:24] marke72 opened #109 "Plugin Fails with SSL enabled"
- Version: 6.0.2
- Operating System: CentOS 7

I updated to Logstash 6.1.2 from 6.0 and I guess this plugin was updated in the process. I have SSL enabled. My environment is I have one logstash server sending to RabbitMQ and another consuming from RabbitMQ. After the update I get an error from both the output and input plugins. This is from the input side but the output is almost the same:
[code]

[2018-01-18 16:55] michaelklishin commented on #109
It would help the maintainers if you provided server logs around the event. It could be merely a question of the plugin loading the certificates where in theory it could avoid doing that or be something else entirely. RabbitMQ has an entire [TLS troubleshooting guide](http://www.rabbitmq.com/troubleshooting-ssl.html) :)

[2018-01-18 17:16] marke72 commented on #109
I've had SSL working for quite a while now between Logstash and RabbitMQ. RabbitMQ shows nothing in the logs except a disconnect from when I stopped the logstash service to when I got logstash to start working again after removing the `.value`.
Here's the logs from RabbitMQ:
[code]
Here's logstash:
[code]
Those last lines keep going on until I shut it down.

[2018-01-19 12:22] jsvd commented on #109
it seems https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/e36bf186ced725e09c93fa1e1ce8613b1b7194fc introduced a bug where we don't check if `ssl_certificate_password` was set.

@jakelandis can you take a look at this? seems like an easy fix

[2018-01-19 22:41] jakelandis commented on #109
Doh!  , it was a silly mistake. @marke72 Thanks for reporting this.

The fix is over at https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/48 (the mixin ) and will get that release ASAP.

[2018-01-22 15:49] jakelandis commented on #109
This is fixed with [5.0.2](https://rubygems.org/gems/logstash-mixin-rabbitmq_connection/versions/5.0.2-java) of the `logstash-mixin-rabbitmq_connection` mixin. Unfortunately since this bug was in a mixin, not a plugin, you can't upgrade this independently with plugin system.

This should be included in the next patch and minor releases of logstash.

Closing the issue here.

[2018-01-22 15:49] #109 closed

[2018-02-27 17:46] SuperFunks opened #110 "Parallel RabbitMQ connection termination"
Hi there,

I've been observing the shutdown logs happening in Logstash when a "logstash-input-rabbitmq" has alot of connections going to a rabbitmq cluster.
From what i can tell - the logstash attempts to terminate the connections in sequence, with the same timeout for all connections. This means that it will take a long time for logstash to finally terminate its processes.

[2018-02-27T17:41:58,2

[2018-04-20 15:38] kostasb opened #112 "Support metadata Date class conversion"
- Logstash version: v6.2.3
- logstash-input-rabbitmq version: 6.0.2

Description:

When the rabbitmq input encounters a Date field in the metadata the pipeline logs an unrecoverable error and restarts.

It seems that  the headers normalization method in the rabbitmq client does not convert the Date class.

Stack trace:

[code]

[2018-04-27 00:13] pedrotcm commented on #112
The same error encounters in logstash v.6.2.4 and logstash-jdbc-input using mongodb connection:

[2018-04-26T21:11:40,393][WARN][logstash.inputs.jdbc] Exception when executing JDBC query {:exception=>#<Sequel::DatabaseError: Java::OrgLogstas
h::MissingConverterException: Missing Converter handling for full class name=java.util.Date, simple name=Date>}

[2018-06-26 12:15] Woudan opened #113 "SSL InvalidAlgorithmParameterException"
- Version: Logstash 6.3.0
- Operating System: Centos 7.4
- Config File (if you have sensitive info, please remove it):
`input {
  rabbitmq {
    queue => "X"
    host => "X"
    port => "5671"
    ssl => true
    ssl_certificate_path => "/etc/pki/x/x.pfx"
    ssl_certificate_password => ""
    vhost => "/logstash"
    user => "logstash"
    password => "X"
    passive => true
    connection_timeou

[2018-06-27 11:03] jsvd commented on #113
can we confirm the user that runs logstash (likely `logstash`) has permissions to open the certificate?
also, for context, is this something that used to work before but broke in 6.3.0?

[2018-07-03 13:48] sigsegv11 commented on #113
Hi
Turns out the pkcs12 format expected by java is a bit different from the one generated by openssl.
Using keytool with storetype PKCS12 solves the issue.
For example:
 `keytool -importcert -file certs/rootCA.crt -trustcacerts -keystore keystore -storetype PKCS12`

[2018-07-04 06:29] #113 closed

[2018-07-27 12:13] robsonkades opened #114 "new attribute 'rabbitmq_payload' in @metadata"
- Version: 6.03
- Operating System: Windows NT
- Config File (if you have sensitive info, please remove it):
- Sample Data:
- Steps to Reproduce:

I find it interesting to add a new attribute in the metadata to add the payload of the message, this is important because it is not always possible to identify the attributes of the payload and sometimes it is necessary to have this information.
I made

[2018-08-20 16:53] dprada1979 commented on #112
Exactly the same error as the first comment encounters in Logstash v.6.3.1 connecting to RabbitMQ 3.6.12, Erlang 18.3.

[2018-08-20T16:41:36,337][ERROR][logstash.pipeline        ] A plugin had an unrecoverable error. Will restart this plugin.
  Pipeline_id:main
  Plugin: <LogStash::Inputs::RabbitMQ host=>["*****"], port=>*****, ssl=>true, vhost=>"*****", queue=>"*****", passive=>true, user=>"*****

[2018-08-22 10:47] dprada1979 commented on #112
In case this can help to resolve the issue:
We are taking information from 5 queues but the issue appears only on one that we use for deadletters on RabbitMQ (https://www.rabbitmq.com/dlx.html), so the issue should be related to this.

[2018-08-28 16:55] dprada1979 commented on #112
As a temporal workaround, we have disabled metadata and we are adding the field handle as false:
[code]

[2018-10-17 16:32] merretbuurman commented on #97
Hi! I agree. In my logs, there is a line "Connected to RabbitMQ at", but then it is empty. I might make an issue, as the code to display this is clearly there, but not working properly.

[code]

(I'm using Logstash 6.4.2 as a OSS docker image, btw... But I've seen this in my previous 6.x Logstash deployments too).

[2018-11-09 05:30] gbkim14 commented on #106
remove ""

[2018-12-05 14:30] Erni opened #115 "Docs about 'host' parameter is wrong. `port` parameter ignored. Error returned when timeout is also wrong."
When connecting to a remote AMQP server, the configuration explained in the docs is not working.
 - The `host` setting must be populated by the pair `host:port`
 - The `port` setting is completely ignored.
 - If the connection is via `HTTPS` then the `ssl` setting should be set to true. This is not wrong but not well documented.

Moreover, when the plugin cannot connect to the server (because any

[2019-01-21 15:12] msvticket commented on #112
My fix in logstash for this issue is released with logstash version 7. Version 7.0.0-alpha2 is now released so it is easily accessible. So I think this issue can be closed.

[2019-01-21 21:00] kostasb commented on #112
Resolved in Logstash v7.0 - thank you @msvticket

[2019-01-21 21:00] #112 closed

[2019-03-11 17:57] lsdev14 commented on #29
Hey guys,
I didn't enable the sharding, in my case, there are some queues and would like tips to setting the consumers in a cluster of logstash instances.

I got two initial ideias:
1 - to set multiple instance/container setting, a config for each queue.
2 - to set only one instance/container setting with multiple logstash's pipelines, so, each pipeline will use a specific queue name.

[2019-03-18 14:58] lsdev14 commented on #29
Hey @michaelklishin, @andrewvc and @GlenRSmith any news about this topic?
Has any task started about it?

[2019-03-18 21:19] andrewvc commented on #29
@lsdev14 I no longer work on logstash, but @jsvd may be able to help here.

[2019-04-17 09:33] zargario commented on #115
@Erni
Hi. Did you manage to find a workaround?

[2019-04-25 22:19] yaauie opened #116 "Errors in startup are retried indefinitely, blocking graceful shutdowns."
The use of `retry` in `LogStash::Plugin::Inputs::RabbitMQ#setup!` does not respect the plugin's `stopped?` state, which will cause this plugin to stall a pipeline shutdown if we cannot fully establish a connection, declare the queue, and bind to the exchange.

 https://github.com/logstash-plugins/logstash-input-rabbitmq/blob/master/lib/logstash/inputs/rabbitmq.rb#L193

[2019-04-25 22:25] yaauie opened #117 "When binding to exchange that doesn't exist, retry loop cannot be escaped."
When we attempt to bind to an exchange that doesn't exist, retries in `LogStash::Inputs::RabbitMQ#setup!` raise a `MarchHare::ChannelAlreadyClosed` exception when attempting to declare a queue that has already been declared.

[code]

[2019-07-03 16:14] nurettin commented on #115
Thank you, this worked for me.

[2019-09-19 10:21] cc-stjm opened #120 "Support priority queues where priority is taken from the event"
Rabbit MQ supports [Priority Queues](https://www.rabbitmq.com/priority.html)

To send a message with a priority, there should be a message property named priority with an integer value. Unfortunately, it seems impossible to pull this priority from the logstash event.

| Logstash Config | Error |
| ----- | ----- |
| `message_properties => {"priority" => [priority]}` | org.jruby.exceptions.TypeError

[2019-10-09 11:34] Recodify opened #123 "Reject message on failure"
If a message received by the plugin fails at the output stage (for example, due to an indexing issue in ES), is it possible to have the message rejected so that it is dead-lettered in RabbitMq?

What I'm currently seeing is that a message that fails to be indexed to ES is still ACKed and therefore is lost forever.

- Version: logstash 6.8.2
- Operating System: ubuntu 18.04
- Config File:

`input {

[2019-10-15 19:58] ThiagoBarradas commented on #123
I have the same problem as you. I tried with many ways, but I have not success.

Today I opened a topic in elastic discuss, waiting for some help.
https://discuss.elastic.co/t/logstash-rabbitmq-input-send-ack-after-event-processed/203709

If it will not possible, I will try implement it and send a pull request, although I not a expert with ruby.

Thx.

[2019-11-13 12:10] michaelklishin opened #124 "Maintenance status"
I have submitted a pull request that corrects a counterproductive recommendation meant to be copied-and-pasted in this project's doc guide https://github.com/logstash-plugins/logstash-input-rabbitmq/pull/121. It was approved and has been sitting there since.

Is this project maintained? If so, who are the maintainers? If not, what was it superseded by? Some clarification would be great.

[2019-11-13 12:36] jsvd commented on #124
hi @michaelklishin, I guess one more time apologies for the delays, as we've been a bit stretched thin for the past few weeks.

For context, we're trying to reduce the effort of maintenance of plugins so we're grouping similar plugins into "integration" plugins. and have used rabbitmq as the first one (see https://github.com/logstash-plugins/logstash-integration-rabbitmq).

This repo has both the

[2019-11-13 22:49] michaelklishin commented on #124
@jsvd so I should resubmit to the new repository. OK, thanks for the clarification.

[2019-11-13 22:49] #124 closed

[2019-11-21 17:55] yaauie commented on #123
There have been efforts in the past to add end-to-end ACKs to Logstash (which the above request would require; https://github.com/elastic/logstash/issues/8514), but these efforts have largely stalled out due to complexity and resulting poor performance.

Without end-to-end acknowledgement in the Logstash pipeline, the [Elasticsearch Output Plugin supports the Dead Letter Queue](https://www.elastic

[2019-11-21 22:30] yaauie commented on #115
A fix in upstream connection mixin (https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/447b41f823c913cc425068e2d781cae70bb02a3e) was unfortunately not ever consumed by this stand-alone plugin.

Since development of this plugin is now continuing as a part of the RabbitMQ Integration Plugin, I have opened a PR there to absorb the fix in future releases; please feel free to

[2019-11-21 22:30] #115 closed

[2019-11-22 00:19] yaauie commented on #102
It looks like this was resolved some time ago, so I am closing.

[2019-11-22 00:19] #102 closed

[2019-11-22 00:53] yaauie commented on #110
It looks like this issue isn't something that can be fixed directly in this code-base, so I have filed an issue upstream on logstash core:

https://github.com/elastic/logstash/issues/11336

[2019-11-22 00:53] #110 closed

[2019-11-22 01:20] yaauie commented on #49
It looks like the current `declare_exchange!` has significantly better log messaging, so I'm closing this issue.

See: https://github.com/logstash-plugins/logstash-integration-rabbitmq/blob/v7.0.1/lib/logstash/plugin_mixins/rabbitmq_connection.rb#L190-L193

[2019-11-22 01:20] #49 closed

[2019-11-22 01:21] yaauie commented on #60
It looks like the connection error messaging has significantly improved since this issue was originally raised, so I think it can be closed.

[2019-11-22 01:21] #60 closed

[2019-11-22 01:23] #25 closed

[2021-12-31 11:36] caicai683 opened #127 "rabbitmq connect refuse"
Please include the following information:

1. Logstash 7.6.12
2. rabbitmq3.8.6
**JVM** (e.g. `java -version`):
java version "1.8.0_291"

we use  logstash to recived msg from rabbitmq, and we create user   ipanel,  just only have read permissions, no config permissions, then refused for user 'ipanel'", :cause=>java.io.IOException

but ,if we give the ipanel  config permissions,then connection is ok